
$white        :#ffffff;
$black        :#000000;
$red          :#CB0007;
$blue         :#363995;
$light        :#E9E9E9;
$yellow       :#FFC000;
$purple       :#6400FF;
$lightGray    :#F8F8F8;
$darkGray    :#E3E3E3;
$orange       :#FF7F00;

$ft-en        : 'DM Sans', sans-serif !default;
$headings     : 'DM Sans', sans-serif, 'Arial', sans-serif !default;


$fw-normal    : normal;
$fw-bold      : bold;
$fw-medium    : 500;
$fw-black    : 800;
$mobile-width : 479px;


$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1100px;
$xxl: 1360px;
$xxxl: 1760px;


@mixin xs {
    @media only screen and (max-width: #{$mobile-width}) {
      @content;
    }
}