
//Button//
.btn{
    border-radius: 0px;
    padding: 0px;
    width: auto;
    text-decoration: none;
    border: 0px solid transparent;
    // transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    font-weight:bold;
    max-width: 224px;
    font-size: 18px;
    line-height: 22px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: $white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    @include fuild-property(font-size,18,16, 1920, 1200);
    @include fuild-property(line-height,22,20, 1920, 1200);
    @include fuild-property(max-width,224,180, 1920, 1200);
    @include fuild-property(line-height,50,46, 1920, 1200);
    @include responsive-to(all-mobile){
        max-width: 200px;
        height: 46px;
        font-size: 14px;
      }

    .btn-text {
        position: relative;
        z-index: 1;
    }
    &:active, &:focus, &:active{
        outline: 0;
        outline: none;
        border: 0;
        box-shadow: none;

    }
    &:before{
        content: '';
        width: 100%;
        height: 0%;
        bottom: 0;
        left: 0;
        background: #fff;
        position: absolute;
        z-index: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    &:after{
        content:"";
        height: 26px;
        left: 50%;
        width: 26px;
        z-index: 0;
        margin-left: 30px;
        top:0;
        border-radius: 5px;
        transition: all 0.3s ease-in-out 0s;
        background-image: url('../images/btn-arrow.svg');
        background-position: center center;
        background-repeat: no-repeat;
    }
    &:hover{
        text-decoration: none;
        &::after{
            // margin-left: 40px;
            background-image: url('../images/btn-arrow-black.svg');
        }
        &::before{
            height: 100%;
        }

    }

}


.btn-purple{
    background-color: $purple;
    color: $white;
    .btn-text{
        color: white;
    }
    &:hover{
        box-shadow: 10px 10px 30px -7px #13166F;
        -webkit-box-shadow: 10px 10px 30px -7px #13166F;
        -moz-box-shadow: 10px 10px 30px -7px #13166F;
        color: black;
        .btn-text{
            color: black;
        }
        &:before{
            background-color: $white;
        }
    }
}
.btn-orange{
    background-color: $orange;
    color: $white;

    &:hover{
        box-shadow: 10px 10px 30px -7px #13166F;
        -webkit-box-shadow: 10px 10px 30px -7px #13166F;
        -moz-box-shadow: 10px 10px 30px -7px #13166F;
        &:before{
            background-color: $white;
        }
    }
}
.btn-white{
    background-color: $white;
    color: $black;

    &:hover{
        box-shadow: 10px 10px 30px -7px #13166F;
        -webkit-box-shadow: 10px 10px 30px -7px #13166F;
        -moz-box-shadow: 10px 10px 30px -7px #13166F;
        &:before{
            background-color: $yellow;
        }
    }
}

button.form-control {
  border: 0 !important;

  &:hover{
      box-shadow: 10px 10px 30px -7px #13166F !important;
      -webkit-box-shadow: 10px 10px 30px -7px #13166F !important;
      -moz-box-shadow: 10px 10px 30px -7px #13166F !important;
  }
}


