
// contact form
.form {
  padding: 0 0 60px 0;

  @include lg {
    padding: 30px 0 30px 0;
  }
}
.form-title {
  padding: 30px 0 20px 0;

  @include lg {
    padding: 30px 0 30px 0;
  }
}
.gtech-form .nopadding {
  overflow: hidden;
}
.form-check {
  padding-top: 15px;

  .form-check-label {
    font-size: 14px;
    margin-top: 5px;
    margin-left: 20px;
  }
  input.larger {
    width: 20px;
    height: 20px;
  }
}
#insights-form {
  label {
    display: inline-block;
    margin-bottom: 0.5rem;
  }
  button {
    box-shadow: none;
    max-width: none;
    transition: .3s ease;
  }
}
.form-control {
  border-radius: 0;
  height: calc(2.5em + .75rem + 2px);
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-group {
    margin-bottom: 2rem;
}
textarea.form-control {
  height: auto;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: $red;
  outline: 0;
  // box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.contact-form-btn {
  max-width: 250px !important;
}
