.is-nav-opened{
    header{
        background-color: $blue;
    }
}

header{
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    transition: background-color .19s linear .2s;
    z-index: 11;
    // overflow: hidden;
    @include responsive-to(all-mobile){
      pointer-events: none;
      overflow: hidden;
    }
   
    .header-row{
        min-height: 70px;
        margin: 0;
        align-items: center;
        @include lg{
          min-height: 100px;
        }
    }

    .logo-wrap{
        flex: 0 0 180px;
        max-width: 180px;

        @include lg{
            flex: 0 0 180px;
            max-width: 180px;
        }

        .logo{
            padding-top: 0;
            max-width: 130px;

            @include lg{
                max-width: 200px;
            }

            img{
                width: 100%;
                max-width: 150px;
            }
        }
    }

    .dekstop-menu{
        // flex: 0 0 calc(100% - 600px);
        flex: 1;
    }

    .cta-search{
        flex: 0 50px;
        margin-left: auto;
        max-width: 50px;


        @media (min-width: 1199px){
            flex: 0 0 260px;
            max-width: 260px;
        }

        .btn{
            display: none !important;

            @media (min-width: 1199px){
                display: flex !important;
            }
        }

        .search-btn{
            height: 50px;
            width: 50px;
            background-color: transparent;
            border: 0px;
            display: flex;
            background: transparent;
            align-items: center;
            margin: 0 0px 0 auto;

            @media (min-width: 1199px){   
                margin: 0 0px 0 30px;
            }

            &:focus{
                outline: none;
            }

            img{
                width: 30px;
                height: 30px;
                margin: 0 auto;
            }
        }
    }
    &.sticky{
      background-color: $purple;
      @include responsive-to(all-mobile){  
        background-color: transparent;
      }
      &::after{
        opacity: 0;
      }
      .navbar{
        padding: 15px 30px 15px 30px;
        &::after{
          display: none;
        }
        .container-fluid{
          .logo-box{
            .logo-img{
              img{
                max-height: 46px;
              }
            }
          }
        }
        .tii-nav-desktop{
          .dropdown-menu{
            margin-top: 26px;
            border-radius: 0 0 5px 5px;
            @include responsive-to(all-mobile){  
              margin: 0;
            }
          }
        }
      }
  }
}


.dekstop-menu{
    display: none !important;
    padding-top: 20px;
    padding-bottom: 20px;

    @media (min-width: 1199px){
      display: flex !important;
    }


    nav{
        .menu-items{
            .menu-item{
                padding: 0px 15px;
                &.lang-menu{
                  .link{
                    &:lang(en){
                      font-family: 'Tajawal', sans-serif;
                    }
                  }
                  &:lang(en){
                    font-family: 'Tajawal', sans-serif;
                  }
                  &:lang(ar){
                    font-family: $ft-en;
                  }
                }
                button.link{
                    display: none !important;
                }

                .link{
                    color: $white;
                    display: flex !important;
                    align-items: center !important;
                    width: 100%;
                    border: 0px;
                    background: transparent;



                    .m-text{
                        font-size: 16px;
                        line-height: 1.2;
                        transition: color .19s linear;
                        br{
                          display: none;
                        }
                    }

                    .m-icon{
                        color: $red;
                        display: none !important;
                    }

                    &:hover{
                        .m-text{
                            color: $red;
                        }
                    }

                }

                &.has-submenu{
                    padding: 0px 10px;

                    a{
                        .m-icon{
                            display: block !important;
                        }
                    }
                }

                .dropdown-menu, .dropdown-menu:before{
                    position: absolute;
                    width: 100%;
                    transition: opacity .19s linear .2s, visibility 0ms .2s;
                    visibility: hidden;
                    opacity: 0;
                }

                .dropdown-menu{
                    top: 100%;
                    right: 0;
                    left: 0;
                    min-height: 416px;
                    padding-top: 40px;
                    padding-bottom: 40px;
                    background: $blue;
                    width: 100%;
                    max-width: 100vw;
                    z-index: 1100;
                    position: absolute;
                    overflow: visible;
                    visibility: hidden;
                    opacity: 0;

                    &:before{
                        display: block;
                        top: -1px;
                        height: 1px;
                        background:rgba($white, $alpha: .2);
                        content: "";
                    }

                    .dropdown-menu-wrap{
                        padding-left: 300px;
                    }

                    .g-title{
                        letter-spacing: 0;
                        color: $white;
                        font-weight: bold;
                        padding-right: 60px;
                        line-height: 1;
                    }

                    .dm-h-link{

                        display: none !important;

                    }

                    ul{
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;



                        li{
                            flex: 0 0 50%;
                            max-width: 50%;

                            a{
                                font-size: 22px;
                                margin-bottom: 5px;
                                display: block;
                                color: $white;

                                &:hover{
                                    color: $red;
                                }
                            }
                        }
                    }
                }

                &.open{
                    .dropdown-menu, .dropdown-menu:before{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }

    .nav-indicator{
        position: absolute;
        top: calc(100% - 1px);
        left: 0;
        width: 100px;
        height: 1px;
        transition: opacity .15s linear .2s;
        background: $red;
        opacity: 0;
        z-index: 1102;
        pointer-events: none;
    }
}
.is-nav-open{
    overflow: hidden !important;
    height: 100vh;

    .mobile-menu{
        visibility: visible;
        opacity: 1;
        pointer-events: visible ;
        z-index: 2000;
        transition: opacity .35s ease;
    }
}

.mobile-menu{
    display: block;
    position: fixed;
    top: 0;
    // right: -376px;
    bottom: 0;
    width: 100%;
    transform: translateZ(0);
    transform-style: preserve-3d;
    transition: opacity .35s ease,right 0s .35s,visibility 0s .35s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    background: $black;
    opacity: 0;
    visibility: hidden;

    pointer-events: none;
    z-index: -1;

    @media (min-width: 1199px){
        display: none !important;
    }

    .mobile-menu-wrapper{
        height: 100vh;
    }

    .mobile-nav{
        height: 100vh;
        display: flex;
        flex-direction: column;


        &.mobile-nav-lv1{
            .mobile-logo{
                display: none;
            }

            .mobile-btn-back{
                display: flex;

            }

            .mobile-nav-current{
                display: block;

            }

            .nav-list{
                transform: translate3d(-100%,0,0);

                .nav-mobile-level1.active{
                    display: block !important;
                }
            }
        }
    }

    .nav-list{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-wrap: nowrap;
        justify-content: space-between;
        transform: translateZ(0);
        transition: transform .35s ease;


    }

    .mobile-menu-header{
        min-height: 70px;
        padding: 0;
        border-bottom: 1px solid rgba($white, $alpha: .2);

        .mobile-logo{
            flex: 0 0 130px;
            max-width: 130px;
            margin-left: 24px;

            img{
                width: 100%;
            }
        }

        .toggle-menu{
            margin-right: 24px;
        }

        .mobile-btn-back{
            display: none;
            background:transparent;
            border: 0px;
            font-size: 40px;
            align-items: center;
            text-align: center;
            width: 40px;
            height: 50%;
            margin: 0px;
            padding: 0;
            margin-left: 24px;

            &:focus{
                outline: none;
            }

            .b-icon{
                color: $white;
            }

        }

        .mobile-nav-current{
            display: none;
            color: $white;
            font-weight: bold;
            font-size: 18px;;
        }


    }

    .btn{
        max-width: calc(100% - 48px);
        margin: auto auto 30px;

    }

    .menu-items{
        padding-top: 15px;

        .menu-item{
            padding-top: 15px;
            &.lang-menu{
              &:lang(en){
                font-family: 'Tajawal', sans-serif;
              }
              &:lang(ar){
                font-family: $ft-en;
              }
            }
            button{
                &.link{
                    display: none !important;
                }
            }

            .link{
                color: $white;
                padding: 0 24px;
                width: 100%;
                border: 0px;
                background: transparent;


                &:focus{
                    outline: none;
                }

                .m-text{
                    font-size: 20px;
                    font-weight: bold;

                    @include lg {
                      font-size: 24px;
                    }

                    br{
                        display: none;
                    }
                }

                .m-icon{
                    display:none;
                    color: $red;
                    margin-left: auto !important;
                    margin-right: 0px !important;
                    font-size: 40px;

                }


            }

            &.has-submenu{

                button{
                    &.link{
                        display: flex !important;
                    }
                }

                a{
                    &.link{
                        display: none !important;
                    }
                }


                .link{
                    .m-icon{
                        display:block;
                        margin-left: auto !important;
                    }
                }
            }

            .nav-mobile-level1{
                display: none;
                position: fixed;
                top: 0;
                left: 100%;
                width: 100%;
                height: 100%;

                .g-title{
                    display: none !important;
                }

                .dm-h-link{
                    color: $red;
                    padding-top: 28px;
                    font-size: 18px;


                }

                ul{
                    li{
                        padding-top: 28px;


                        a{
                            color: $white;
                            font-size: 18px;

                            &:hover{
                                color: $red;
                            }
                        }

                    }
                }
            }
        }
    }

    .toggle-menu{

        .bar {
            background: transparent;
            transition: all .25s;

            &:before {
                @extend .line-bar-open;
                transform: rotate(45deg);
            }
            &:after {
                @extend .line-bar-open;
                transform: rotate(-45deg);
            }
        }


    }
}



.line-bar {
    transition: all .25s;
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    width: 30px;
    // background-color: $darkblue;
    background: $white;
    background-size: 100%;
}

 .line-bar-open {
    transition: all .25s;
    top: -0px;
 }

.toggle-menu{
    position: relative;
    height: 40px;
    width:  40px;
    cursor: pointer;
    display: block;
    z-index: 9;
    margin-left: 0;
    margin-top: 0;
    background-color: transparent;
    -webkit-appearance: none;

    @media (min-width: 1199px){
        display: none;
    }

    .bar{
        @extend .line-bar ;
        position: relative;
        top:50%;
        left: 50%;
        @include transform(translate(-50%, -50%));

        @media (min-width: 1199px){
            display: none;
        }

        &:before {
            @extend .line-bar ;
            top: -10px;
            width: 30px;
            transform: scaleX(-1);
        }
        &:after {
            @extend .line-bar ;
            top: 10px;
            width: 30px;
            transform: scaleX(-1);
        }
    }



}

// white header
.white-header {
    background: -webkit-linear-gradient(135deg, #0286CC, #363995, #97000b, #cb0007);
    background: -o-linear-gradient(135deg, #0286CC, #363995, #97000b, #cb0007);
    background: linear-gradient(-45deg, #0286CC, #363995, #97000b, #cb0007);
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;

  .dekstop-menu nav .menu-items .menu-item .dropdown-menu {
    background-color: $white;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.30);
  }
  .dekstop-menu nav .menu-items .menu-item .dropdown-menu .g-title {
    color: white;
  }
  .dekstop-menu nav .menu-items .menu-item .dropdown-menu ul li a {
    color: white;

    &:hover {
      color: #CB0007;
    }
  }
  .black-menu-items {
    color: white;
  }
  .search-btn{
    svg{
      fill: white;
    }
  }
  .line-bar, .toggle-menu .white-header-bar, .toggle-menu .white-header-bar:after, .toggle-menu .white-header-bar:before {
    background: white;
  }
  .nav-wrap{
    .menu-items{
      &:lang(en){
        font-family: 'Tajawal', sans-serif;
      }
      .m-icon{
        color: white !important;
      }
    }
  }
  &.sticky{
    .logo-wrap{
      .logo-white{
        opacity: 1;
      }
    }
    .search-btn{
      svg{
        fill: white;
      }
    }
    .black-menu-items{
      color: white;
    }
    @include responsive-to(all-mobile){
      .toggle-menu{
        .white-header-bar{
          background-color: white;
          &::before, &::after{
            background-color: white;
          }
        }
      }
    }
  }
  
}

.white-header-mobile {
  .toggle-menu .bar {
    &:before,
    &:after {
      background-color: $black;
    }
  }
  .mobile-menu-wrapper {
    background: $white;
  }
  .menu-items .menu-item .link,
  .menu-items .menu-item .nav-mobile-level1 .dm-h-link,
  .menu-items .menu-item .nav-mobile-level1 ul li a {
    color: $black;
  }
  .mobile-menu-header .mobile-btn-back .b-icon {
    color: $black;
  }
}


/* Gradient Animation */

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 1;
    -webkit-animation-timing-function: ease-in; }
  8% {
    opacity: 0;
    -webkit-animation-timing-function: ease-out; }
  17% {
    opacity: 0; }
  25% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-moz-keyframes imageAnimation {
  0% {
    opacity: 1;
    -moz-animation-timing-function: ease-in; }
  8% {
    opacity: 0;
    -moz-animation-timing-function: ease-out; }
  17% {
    opacity: 0; }
  25% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-o-keyframes imageAnimation {
  0% {
    opacity: 1;
    -o-animation-timing-function: ease-in; }
  8% {
    opacity: 0;
    -o-animation-timing-function: ease-out; }
  17% {
    opacity: 0; }
  25% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-ms-keyframes imageAnimation {
  0% {
    opacity: 1;
    -ms-animation-timing-function: ease-in; }
  8% {
    opacity: 0;
    -ms-animation-timing-function: ease-out; }
  17% {
    opacity: 0; }
  25% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes imageAnimation {
  0% {
    opacity: 1;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  8% {
    opacity: 0;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  17% {
    opacity: 0; }
  25% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-webkit-keyframes bar {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  51% {
    opacity: 1; }
  99% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes bar {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  51% {
    opacity: 1; }
  99% {
    opacity: 1; }
  100% {
    opacity: 0; } }



