/* breakpoints */
$break-xlg-desktop: 1920;
$break-lg-desktop: 1440px;
$break-desktop: 1024px;
$break-mobile: 600px;

@mixin responsive-to($media) {
	@if $media==mobile {
		@media all and (max-width: $break-mobile - 1) {
			@content;
		}
	} @else if $media==tablet {
		@media all and (min-width: $break-mobile) and (max-width: $break-desktop - 1) {
			@content;
		}
	} @else if $media==tablet-land {
		@media all and (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1024px) and (min-device-width: 768px) and (orientation: landscape) {
			@content;
		}
	} @else if $media==all-mobile {
		@media all and (max-width: $break-desktop - 1) {
			@content;
		}
	} @else if $media==lg {
		@media all and (max-width: 1199.98px) {
			@content;
		}
	} @else if $media==ipad-pro-port {
		@media all and (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1366px) and (min-device-width: 1024px) and (orientation: portrait) {
			@content;
		}
	} @else if $media==ipad-pro {
		@media all and (min-device-width: 1024px) and (max-device-width: 1366px) {
			@content;
		}
	} @else if $media==desktop {
		@media all and (min-width: $break-desktop) and (max-width: $break-lg-desktop - 1) {
			@content;
		}
	} @else if $media==lg-desktop {
		@media all and (min-width: $break-lg-desktop) {
			@content;
		}
	} @else if $media==all-desktop {
		@media all and (min-width: $break-desktop) {
			@content;
		}
	} @else if $media==xlg-desktop {
		@media all and (min-width: $break-xlg-desktop) {
			@content;
		}
	}
}





@mixin fuild-property($property, $max_val, $min_val, $max_width, $min_width) {
    @media (min-width: #{$min_width}px) and (max-width: #{$max_width}px) {
        #{$property}: calc(#{$min_val}px + (#{$max_val} - #{$min_val}) * ((100vw - #{$min_width}px) / (#{$max_width} - #{$min_width})));
    }
}