.swiper-pagination{
    text-align: left;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 5;
    bottom: 0px;
    padding: 0px; 

    .pageDot{
        transition: all 0.3s;
        width: auto;
        height: 30px;
        border: 0px none;
        background-color: transparent;
        &:focus{
            outline: none;
            outline: 0px;
        }
        &:after{
            transition: all 0.3s;
            width: 6px;
            height: 6px;
            overflow: hidden;
            border-radius: 6px;
            margin-left: 0px;
            display: block;
            background-color: black;
            border: 0px;
            padding: 0px;
            border: 0px none;
            content: "";
        }
        &.is-selected{
            &:after{
                width: 80px;
                border-radius:30px;
                background-color: red;
            }
        }
    }
   
}

.swiper-arrow{
    position: relative;
    display: flex;
    align-items: center;

    .button{
        position: relative;
        margin-top: 0;
        height:55px;
        width:55px;
        left: 0;
        right: 0;
        top:0;
        border:0px;
        padding: 0px;    
        background-color: transparent;   

        &:focus{
            outline: none;
            outline: 0px;
        }
             
        span{
            font-size: 45px;
            color: $white;
        }
    }
}

.swiper-navigation-wrap{
    margin-top: 40px;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{
    content: '\e5c4';
    font-family: 'Material Icons Outlined';
    color: $white;
}

.swiper-button-next::after, .swiper-container-rtl .swiper-button-prev::after{
    content: '\e5c8';
    font-family: 'Material Icons Outlined';
    color: $white;
}


.flickity-resize .carousel-cell {
    min-height: 100%;
}



