.uppercase                      { text-transform:uppercase }
.lowercase                      { text-transform:lowercase }
.capitalize                     { text-transform: capitalize }

.fw-medium                      { font-weight : 500 !important; }
.fw-normal                      { font-weight : normal  !important; }
.fw-semi                    { font-weight : 600  !important; }
.fw-bold                        { font-weight : bold  !important; }

.fc-white                       { color: $white}
.fc-black                       { color: $black}
.fc-red                         { color: $red}
.fc-blue                        { color: $blue}
.fc-gray                       { color: rgba($black, $alpha: .75)}
.fc-lwhite                      { color: rgba($white, $alpha: .75)}
// Headings
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 .5em 0;
}



h1, .h1 {
    font-size: 40px;
    line-height: 1;
   

    @include xl{
        font-size: 60px;
    }

    @include xxl{
        font-size: 97px;
    }
}



h2, .h2 {
    font-size: 34px;
    line-height: 1.1;
 

    @include xl{
        font-size: 36px;
        line-height: 48px;
    }

    @include xxl{
        font-size: 61px;
        line-height: 52px;
    }
}


h3, .h3 {
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    @include fuild-property(font-size,48,30, 1920, 1025);
    @include fuild-property(line-height,60,42, 1920, 1025);  
    @include responsive-to(all-mobile){
        font-size: 34px;
        line-height: 40px;
    }
}

h4, .h4 {
    font-size: 1.125em;
    line-height: 1.3;
    
    @include xl{
        font-size:24px;
 
    }

    @include xxl{
        font-size:34px;
 
    }
}

h5, .h5 {
    font-size: 1.125em;
    line-height: 1.4;
    letter-spacing: -.01em;

    @include lg{
        font-size: 1.25em;
    }

    @include xl{
        font-size:20px;
 
    }

    @include xxl{
        font-size:24px;
 
    }
}

h6, .h6{
    font-size: 1em;
    line-height: 1.2;
    letter-spacing: 0.15px;


    @include lg{
        font-size: 1.25em;
    }

    @include xl{
        font-size:20px;
 
    }
}

.subtitle{
    font-size: 16px;
    letter-spacing: 0.15px;
}

.subtitle2{
    font-size: 14px;
    letter-spacing: 0.1px;
}


.overline{
    font-size: 14px;
    letter-spacing: 5px;
    font-weight: bold;
    text-transform: uppercase;
}



// Bold and Strong
b, strong, .strong { font-weight: bold; }

// Italics
em, .em { font-style: italic; }

a{
    &.inline-link{
        text-decoration: underline;
        transition: all .1s ease;

        &:hover{
            color: $white;
        }
    }
}