.about-challenge{
    padding: 130px 0;
    overflow: hidden;
    @include responsive-to(all-mobile){
        padding:40px 0;
    }
   .about-challenge-content{    
       flex-wrap: wrap;
       h3{
        color: #394854;
        margin-bottom: 40px;
        @include fuild-property(margin-bottom,40,30, 1920, 1025);
        &::before{
            content: "";
            height: 1px;
            width: 100%;
            background-color: #FF7F00;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 20px;
        }
       }
       p{
            color: #394854;
            @include fuild-property(margin-bottom,10,14, 1920, 1025);
            @include responsive-to(all-mobile){
            margin-bottom: 40px;
            }
       }
       .about-challenge-img-wrap{
           position: relative;
           min-height: 760px;
           @include responsive-to(all-mobile){
                margin:40px 0;
                min-height: inherit;
            }
           .bluredBgOrange{
                position: absolute;
                bottom: 0px;
                width: 1000px;
                height: 1000px;
                right: 0;
                left: 0;
                margin: auto;
                top: 0;
                bottom: 0;
                z-index: -1;
                pointer-events: none;
                -webkit-filter: blur(50px);
                filter: blur(50px);
                border-radius: 50%;
                opacity: 0.6;
                display: none;// hide by client
                background: radial-gradient(ellipse at center, #ff7f00 0%, rgba(255, 127, 0, 0) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff7f00", endColorstr="#00ff7f00",GradientType=1 );
           }
           .bluredBgPurple{
                position: absolute;
                width: 700px;
                height: 700px;
                left: -50%;
                margin: auto;
                bottom: -80%;
                z-index: -1;
                pointer-events: none;
                -webkit-filter: blur(50px);
                filter: blur(50px);
                border-radius: 50%;
                opacity: 0.24;
                display: none;
                // hide by client
                background: -moz-radial-gradient(center, ellipse cover,  rgba(100,0,255,1) 0%, rgba(100,0,255,0) 100%); /* FF3.6-15 */
                background: -webkit-radial-gradient(center, ellipse cover,  rgba(100,0,255,1) 0%,rgba(100,0,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
                background: radial-gradient(ellipse at center,  rgba(100,0,255,1) 0%,rgba(100,0,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6400ff', endColorstr='#006400ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        }
           .about-challenge-imgOne{
               position: absolute;
               right: 0;
               top: 0;
               @include responsive-to(all-mobile){
                    position: relative;
                }
               img{
                   max-width: 100%;
                   height: auto;
               }
           }
           .about-challenge-imgTwo{
            position: absolute;
            bottom: 0;
            left: 12%;
            @include responsive-to(all-mobile){
                position: relative;
                left: inherit;
                margin-top: 20px;
            }
            img{
                max-width: 100%;
                height: auto;
            }
        }
       }
   }
}
.about-gallery{
    padding: 130px 0 0;
    @include responsive-to(all-mobile){
        padding:40px 0 0;
    }
    
    .title{
        padding-bottom: 30px;
        &::before{
            content: "";
            height: 1px;
            width: 100%;
            background-color: #FF7F00;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 20px;
        }
    }
    .abt-galley-swiper-wrap{
        
        .row{
            margin: 0;
        }
        .abt-galley-swiper-navWrap{
            margin: 0;
            &> .container{
                align-items: center;
            }
            p{
                margin: 0;
                padding-left: 20px;
                @include responsive-to(all-mobile){
                    padding:10px 0;
                }
            }
            .slide-nav-default{
                margin-right: 10px;
            }
        }
        .abt-swiper-slide{
            padding: 80px 0;
            position: relative;
            overflow: hidden;
            list-style: none;
            padding-left: 0;
            padding-right: 0;
            z-index: 1;
            padding-left: 7%;
            @include responsive-to(all-mobile){
                padding:20px;
            }
            .about-swiper-slide{
                .swiper-slide{
                    .swiper-image{
                        img{
                            width: 100%;
                            height: auto;
                            max-width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
        .abt-swiper-btm-content{
            justify-content: space-between;
            display: flex;
            padding: 0;
            flex-wrap: wrap;
            p{
                color: #394854;
            }
        }
    }
    .abt-megaEventBox-main{
        padding-left: 7%;
        position: relative;
        z-index: 1;
        @include responsive-to(all-mobile){
            padding:20px;
        }
        .abt-megaEventBox-wrap{
            margin-top: 90px;
            background-color: #394854;
            display: flex;
            color: white;
            min-height: 500px;
            @include fuild-property(min-height,550,400, 1920, 1025);
            @include responsive-to(all-mobile){
                margin-top: 0;
            }
            .container-fluid{
                padding: 0;
                display: flex;
                @include responsive-to(all-mobile){
                    .d-flex{
                        flex-wrap: wrap;
                    }
                }
            }
            .megaEvent-img-box{
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: top center;
                background-repeat: no-repeat;
                // filter: grayscale(100%);
                transition: all 0.3s;
                &:hover{
                    filter: grayscale(0);
                }
                @include responsive-to(all-mobile){
                    min-height: 400px;
                }
                img{
                    max-width: 100%;
                    height: auto;
                }
            }
            .mega-event-text{
                max-width: 75%;
                padding: 5% 10%;
                &.mx-w-large{
                    max-width: 90%;
                }
                @include responsive-to(all-mobile){
                    max-width: 100%;
                    padding: 20px;
                    .mx-w-large{
                        max-width: 100%;
                    }
                }
                p{
                    // font-size: 20px;
                    // line-height: 30px;
                    color: $white;
                    // font-weight: 500;
                    margin:0 0 10px 0;
                    color: #fff;
                    @include fuild-property(margin-bottom,10,14, 1920, 1025);
                    // @include fuild-property(font-size,20,16, 1920, 1025);
                    // @include fuild-property(line-height,30,26, 1920, 1025);
                    @include responsive-to(all-mobile){
                        // font-size: 16px;
                        // line-height: 25px;
                    }
                    &:last-child{
                        font-weight: normal;
                        // margin-top: 40px;
                        @include responsive-to(all-mobile){
                            // font-size: 14px;
                            // line-height: 22px;
                        }
                    }
                }
            }
            .mega-copy{
                display: flex;
                align-items: center;
            }
        }
    }
}
.team-section{
    padding: 380px 0 80px;
    margin-top: -280px;
    @include responsive-to(all-mobile){
        padding: 320px 0px 0;
        .row{
            margin: 0;
            padding: 0;
        }
    }
    .title-block{
        &::after{
            // background-color: white;
        }
        .title-text{
            color: #394854;
        }
    }
    .team-sec-navigation{
        padding: 32px 0 60px 0;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        @include responsive-to(all-mobile){
            padding: 40px 0;
        }
        h4{
            color: #394854;
            font-size: 48px;
            line-height: 50px;
            font-weight: 500;
            margin:0 0 0 0;
            padding-left: 20px;
            @include fuild-property(font-size,48,30, 1920, 1025);
            @include fuild-property(line-height,50,40, 1920, 1025);
            @include responsive-to(all-mobile){
                font-size: 36px;
                line-height: 40px;
                margin: 28px 0 0 0;
                padding-left: 0;
            }
        }
        .slide-nav-default{
            margin-right: 10px;
            &.team-button-prev{
                .slidePrev{
                    background-color: #e9e9e9;
                    opacity:1;
                    &::after{
                        background-image: url(../images/slide-arrow-dark.svg);
                        transform: scale(-1);
                    }
                }
            }
            &.team-button-next{
                .slideNext{
                    &::after{
                        transform: scale(-1);
                    }
                }
            }
            &.swiper-button-disabled{
                .slideNext, .slidePrev{
                    background-color: #cbcbcb;
                }
            }
        }
    }
    .team-swiper-slide{
        position: relative;
        overflow: hidden;
        list-style: none;
        padding-left: 0;
        padding-right: 0;
        z-index: 1;
        padding-left: 7%;
        @include responsive-to(all-mobile){
            padding: 0 0px;
        }
        .team-swiper-init{
            
        }
        .swiper-wrapper{
            .swiper-slide{
                .team-swiper-content{
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    padding: 7%;
                    min-height: 610px;
                    position: relative;
                    justify-content: center;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    overflow: hidden;
                    @include responsive-to(all-mobile){
                        padding: 20px;
                        min-height: 460px;
                    }
                    .swiper-image{
                        // filter: grayscale(100%);
                        text-align: center;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        overflow: hidden;
                        &:after{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
                            background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
                            background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
                            opacity: 0.4;
                            content: '';
                            transition: transform 0.9s;
                            transform: scale3d(1.9,1.4,1) rotate3d(0,0,1, 45deg) translate3d(0,-100%,0);
                        }
                        &:hover{
                            &:after{
                                transform: scale3d(3.9,3.4,2) rotate3d(0,0,1, 45deg) translate3d(0,100%,0);
                            }
                        }
                        img{
                            max-width: 100%;
                            @include responsive-to(all-mobile){
                                max-width: 70%;
                            }
                        }
                    }
                    .team-icon{
                        position: absolute;
                        top: 60px;
                        right: 7%;
                        background-color: $orange;
                        width: 64px;
                        height: 64px;
                        border-radius: 50%;
                        @include responsive-to(all-mobile){
                            top: 20px;
                            right: 20px;
                            width: 50px;
                            height: 50px;
                        }
                        &::after, &::before{
                            position: absolute;
                            
                        }
                        &::before{
                            content: "";
                            background-image: url(../images/icon-plus.svg);
                            width: 30px;
                            height: 30px;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 0;
                            left: 0;
                            margin: 0 auto;
                            background-repeat: no-repeat;
                            background-position: center center;
                            pointer-events: none;
                            @include responsive-to(all-mobile){
                                width: 20px;
                                height: 20px;
                                background-size: 20px;
                            }
                        }
                        &::after{
                            content: "";

                            pointer-events: none;
                            top: -2px;
                            left: -2px;
                            padding: 2px;
                            z-index: -1;
                            background: $orange;
                            -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
                            -moz-transition: -moz-transform 0.2s, opacity 0.3s;
                            transition: transform 0.2s, opacity 0.3s;
                            display: block;
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                        }
                        &:hover{
                            &::after{
                                -webkit-transform: scale(1.3);
                                -moz-transform: scale(1.3);
                                -ms-transform: scale(1.3);
                                transform: scale(1.3);
                                opacity: 0;
                            }
                        }
                        a{
                            display: flex;
                            width: 100%;
                            height: 100%;
                        }
                        
                    }
                    .person-name{
                        font-size: 24px;
                        line-height: 50px;
                        color: $white;
                        font-weight: 500;
                        margin:0 0 0 0;
                        color: #394854;
                        position: absolute;
                        bottom: 60px;
                        left: 7%;
                        @include fuild-property(font-size,24,16, 1920, 1025);
                        @include fuild-property(line-height,50,26, 1920, 1025);
                    }
                    .person-position{
                        font-size: 16px;
                        line-height: 22px;
                        color: $white;
                        font-weight: 500;
                        margin:0 0 0 0;
                        color: #394854;
                        position: absolute;
                        bottom: 40px;
                        left: 7%;
                        @include fuild-property(font-size,16,13, 1920, 1025);
                        @include fuild-property(line-height,22,16, 1920, 1025);
                    }
                    &:hover{
                        .swiper-image{
                            filter: grayscale(0);
                        }
                    }
                }
            }
        }

        // team main


  
    }
}
.achieve-section{
    padding: 130px 0;
    @include responsive-to(all-mobile){
        padding: 40px 0;
        .row{
            margin:0;
            padding: 0;
        }
    }
    .title-block{
        .title-text{
            color: white;
        }
    }
    .achieve-sec-navigation{
        padding: 0 0 60px 0;
        flex-wrap: wrap;
        justify-content: space-between;
        &::before{
            content: "";
            height: 1px;
            width: 100%;
            background-color: #FF7F00;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 20px;
        }
        h4{
            color: #394854;
            font-size: 48px;
            line-height: 50px;
            font-weight: 500;
            margin:0 0 0 0;
            @include fuild-property(font-size,48,30, 1920, 1025);
            @include fuild-property(line-height,50,40, 1920, 1025);
            @include responsive-to(all-mobile){
                font-size: 36px;
                line-height: 40px;
                margin: 28px 0 0 0;
            }
        }
        .slide-nav-default{
            margin-left: 10px;
        }
        .col-left{
            display: flex;
            align-items: center;
        }
        .col-right{
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
    .achieve-swiper-slide{
        position: relative;
        overflow: hidden;
        list-style: none;
        padding-left: 0;
        padding-right: 0;
        z-index: 1;
        padding-left: 7%;
        @include responsive-to(all-mobile){
            padding: 0 20px;
    }
        .achieve-swiper-content{
            display: flex;
            align-items: flex-start;
            @include responsive-to(all-mobile){
                    flex-wrap: wrap;
            }
            .swiper-image{
                @include responsive-to(all-mobile){
                    
                }
                img{
                    max-width: 100%;
                    height: auto;
                }
            }
            .achieve-text{
                padding: 0 3% 3% 3%;
                max-width: 530px;
                @include responsive-to(all-mobile){
                    
                }
                h5{
                    color: #394854;
                    font-size: 34px;
                    line-height: 48px;
                    font-weight: bold;
                    margin:0 0 40px 0;
                    @include fuild-property(margin-bottom,40,30, 1920, 1025);
                    @include fuild-property(font-size,34,26, 1920, 1025);
                    @include fuild-property(line-height,48,38, 1920, 1025);
                    @include responsive-to(all-mobile){
                    margin-top: 40px;
                    }
                }
                p{
                    // font-size: 22px;
                    // line-height: 36px;
                    color: $white;
                    // font-weight: normal;
                    margin:0 0 10px 0;
                    color: #394854;
                    @include fuild-property(margin-bottom,10,14, 1920, 1025);
                    // @include fuild-property(font-size,22,16, 1920, 1025);
                    // @include fuild-property(line-height,36,26, 1920, 1025);
                    strong{
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
.image-full-view{
    position: relative;
    min-height: 1170px;
    background-color: #000;
    overflow: hidden;
    .container-fluid{
        padding: 0;
        margin: 0;
    }
    @include responsive-to(all-mobile){
        min-height: 800px;
    }
    .bg-cover{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 100%;
        width: 100%;
    }
    .title{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        max-width: 40%;
        right: 7%;
        @include responsive-to(all-mobile){
            width: 100%;
            max-width: 100%;
            right: 0;
            left: 0;
            padding: 0 20px;
        }
        h2{
            font-size: 56px;
            line-height: 70px;
            font-weight: bold;
            margin:0 0 50px 0;
            color: $white;
            font-weight: bold;
            @include fuild-property(font-size,56,52, 1920, 1025);
            @include fuild-property(line-height,70,60, 1920, 1025);
            @include responsive-to(all-mobile){
                font-size: 36px;
                line-height: 44px;
                letter-spacing: 0;
                margin: 0 0 40px 0;
            }
        }
        p{
            // font-size: 22px;
            // line-height: 34px;
            color: $white;
            // font-weight: bold;
            margin:0 0 40px 0;
            color: #fff;
            @include fuild-property(margin-bottom,40,30, 1920, 1025);
            // @include fuild-property(font-size,22,18, 1920, 1025);
            // @include fuild-property(line-height,34,23, 1920, 1025);
            @include responsive-to(all-mobile){
                // font-size: 18px;
                // line-height: 29px;
                margin: 0 0 30px 0;
            }
            &:last-child{
                // font-size: 16px;
                // line-height: 22px;
                color: $white;
                font-weight: normal;
                margin-bottom: 0;
                // @include fuild-property(font-size,16,13, 1920, 1025);
                // @include fuild-property(line-height,22,16, 1920, 1025);
            }
        }
    }
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #394854;
        opacity: .4;
        z-index: 1;
    }
    &::after{
        width: 70%;
        right: 0;
        height: 100%;
        content: "";
        position: absolute;
        top: 0;
        z-index: 2;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
        background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
        @include responsive-to(all-mobile){
            width: 100%;
        }
    }

}
.future-full-view{
    padding: 130px 0 0;
    @include responsive-to(all-mobile){
        padding: 40px 0;
    }
    .image-section{
        img{
            max-width: 100%;
            height: auto;
        }
    }
    .future-content{
        h3{
            &::before{
                content: "";
                height: 1px;
                width: 100%;
                background-color: #FF7F00;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                margin-bottom: 20px;
            }
        }
        @include responsive-to(all-mobile){
            padding: 40px 0 0;
            h3{
                margin-bottom: 40px;
            }
        }
        p{
            margin:0 0 40px 0;
            color: #394854;
            @include fuild-property(margin-bottom,40,34, 1920, 1025);
            @include responsive-to(all-mobile){
                margin: 0 0 24px 0;
            }
            &.small-text{
                margin:0 0 0 0;
            }
        }
        ul{
            padding-top: 80px;
            list-style: none;
            padding-left: 0;
            @include responsive-to(all-mobile){
                padding-top: 40px;
            }
            li{
                font-size: 16px;
                line-height: 24px;
                font-weight: normal;
                color: #394854;
                margin-bottom: 40px;
                @include fuild-property(margin-bottom,40,30, 1920, 1025);
                @include fuild-property(font-size,16,14, 1920, 1200);
                @include fuild-property(line-height,24,18, 1920, 1200);
                @include responsive-to(all-mobile){
                    font-size: 14px;
                    line-height: 22px;
                }
                position: relative;
                span{
                    display: flex;
                    align-items: flex-start;
                    position: relative;
                    padding-left: 80px;
                    @include responsive-to(all-mobile){
                        padding-left: 54px;
                    }
                    &::after{
                        content: "";
                        background-image: url(../images/list-arrow-purple.svg);
                        width: 34px;
                        height: 34px;
                        position: absolute;
                        top: 0;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: 30px;
                        left: 0;
                        @include responsive-to(all-mobile){
                            background-size: 20px;
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}


.team-author-wrap {
    margin: 0 0 40px 0;
    padding: 20px 0;
    color: #394854;
    background-color: #fff;
    .list-members {
        width: 70%;
        margin: 4% auto;
        display: flex;
        flex-wrap: wrap;
        @include responsive-to(all-mobile){
            width: 100%;
            margin: 0;
            padding: 0;
        }
      }
      
    .member {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
    }
    
    .member-image {
        height: 100%;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        background-position: center center;
        background-size: cover;
        height: 450px;
        width: 450px;
        // border-radius: 50%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        @include fuild-property(width,450,360, 1920, 1025);
        @include fuild-property(height,450,360, 1920, 1025);
        @include responsive-to(all-mobile){
           height: 360px;
           flex: inherit;
           margin: 0 auto;
           width: 92%;
        }
        @include responsive-to(tablet){
            min-height: 660px;
         }
        &:after{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
            opacity: 0.4;
            content: '';
            transition: transform 0.9s;
            transform: scale3d(1.9,1.4,1) rotate3d(0,0,1, 45deg) translate3d(0,-100%,0);
        }
        &:hover{
            &:after{
                transform: scale3d(3.9,3.4,2) rotate3d(0,0,1, 45deg) translate3d(0,100%,0);
            }
        }
    }
    
    .member-image img {
        max-width: 500px;
        transition: opacity 0.35s, transform 0.35s;
        transform: scale3d(1.05,1.05,1);
        max-width: 100%;
        height: auto;
    }
    
    .member-image:hover img {
        transform: scale3d(1,1,1);
    }
    
    .member-info {
        width:55%;
        padding-left: 4%;
        text-align: left;
        @include responsive-to(all-mobile){
            width: 100%;
            padding: 20px;
        }
        p{
            color: #394854;
            
        }
    }
    
    .member-info p {
        margin: 20px 0;
        @include responsive-to(all-mobile){
            margin: 12px 0;
        }
    }

    .member-image::before {
        content: '';
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 15px solid #ffffff;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        display: none;
    }
    @media screen and (min-width: 771px) {
        .member:nth-child(4n+3) .member-info,
        .member:nth-child(4n+4) .member-info {
        order: 1;
        }
        .member:nth-child(4n+3) .member-image,
        .member:nth-child(4n+4) .member-image {
        order: 2;
        }
    
        /* Merubah posisi sigitiga pada baris genap */
        .member:nth-child(4n+3) .member-image::after,
        .member:nth-child(4n+4) .member-image::after {
        left: 0;
        right: auto;
        transform: translateY(-50%) rotateZ(180deg);
        }
    }
  
    
}

