.contact-page-main{
    background-color: #091b3d;
    background-image: url(../images/bg-pattern.svg);
    background-size:cover ;
    background-position: center center;
    position: relative;
    overflow: hidden;
    .contact-main-bg {
        position: relative;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 0;
        opacity: 0.9;
        // filter: blur(1px);
        background-position: center center;
        pointer-events: none;
        &.btm-center{
            background-position: bottom center;
        }
        &.no-blur{
            filter: blur(0);
        }
        @include responsive-to(all-mobile){
            height: 500px;
        }
        &::after{
            position: absolute;
            bottom:0;
            width: 100%;
            height: 250px;
            right: 0;
            left: 0;
            margin: auto;
            content: "";
            right: 0;
            margin: 0 auto;
            pointer-events: none;
            z-index: 0;
            background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
        }
        
        &.previou-page-banner{
            opacity: 1;
            &::before{
                height: 56%;
                top: 44%;
            }
        }
        .v-center-title{
            position: absolute;
            bottom: 7%;
            z-index: 1;
            left: 7%;
            &.title{
                h2{
                    font-size: 56px;
                    line-height: 70px;
                    font-weight: bold;
                    margin: 0;
                    color: white;
                    @include fuild-property(font-size,56,52, 1920, 1025);
                    @include fuild-property(line-height,70,60, 1920, 1025);
                    &::before{
                        content: "";
                        height: 1px;
                        width: 100%;
                        background-color: #FF7F00;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        margin-bottom: 15px;
                    }
                    @include responsive-to(all-mobile){
                      font-size: 36px;
                      line-height: 44px;
                      letter-spacing: 0;
                    }
                }
                &.no-line{
                    h2{
                        &::before{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .contact-content{
        color: white;
        .row{
            margin: 0;
            padding: 0;
        }
        .title{
            // margin-top: 400px;
            position: relative;
            z-index: 1;
            padding: 0;
            margin-bottom: 40px;
            // @include fuild-property(margin-top,400,160, 1920, 1025);
            @include responsive-to(all-mobile){
                margin-top: 100px;
                margin-bottom: 220px;
            }
            h2{
                font-size: 56px;
                line-height: 70px;
                font-weight: bold;
                margin: 0;
                color: white;
                @include fuild-property(font-size,56,52, 1920, 1025);
                @include fuild-property(line-height,70,60, 1920, 1025);
                &::before{
                    content: "";
                    height: 1px;
                    width: 100%;
                    background-color: #FF7F00;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    margin-bottom: 15px;
                }
                @include responsive-to(all-mobile){
                  font-size: 36px;
                  line-height: 44px;
                  letter-spacing: 0;
                }
            }
            &.no-line{
                h2{
                    &::before{
                        display: none;
                    }
                }
            }
        }
        @include responsive-to(all-mobile){
            padding: 0px 0;
        }
        .upcomming-content-wrap{
            margin-top: 320px;
            background-color: white;
            position: relative;
            z-index: 1;
            @include responsive-to(all-mobile){
                margin-top: 0px;
            }
            .upcomming-content{
                padding: 70px 0;
                position: relative;
                z-index: 1;
                color: #394854;
                text-align: left;
                @include fuild-property(padding-top,70,40, 1920, 1025);
                @include fuild-property(padding-bottom,70,40, 1920, 1025);
                @include responsive-to(all-mobile){
                    padding-bottom: 0;
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-top: 40px;
                }
                h5{
                    color: #394854;
                }
            }
        }
        
        
        .previous-page-content{
            position: relative;
            z-index: 1;
            
            .col-12{
                padding: 0;
            }
            p{
                a{
                    color: $purple;
                }
            }
            .bg-content{
                background-color: white;
                padding: 40px 7%;
                // margin-top: 350px;
                @include responsive-to(all-mobile){
                    padding: 20px;
                    margin-top: 0;
                }
                p{
                    color: #394854;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                h5{
                    color: #394854;
                }
            }
            .section-article{
                .container{
                    @include responsive-to(all-mobile){
                        padding: 0;
                    } 
                }
                .article-listing{
                    padding: 40px 0 0;
                    @include fuild-property(padding-top,40,20, 1920, 1025);
                    @include responsive-to(all-mobile){
                        padding: 0;
                    }
                }
                
            }
        }
        &.colloboration-content{
            position: relative;
            z-index: 1;
            .collaboration-inside{
                background-color: white;
                padding: 80px 0 0;
                // margin-top: 350px;
                // @include fuild-property(margin-top,350,201, 1920, 1025);
                @include responsive-to(all-mobile){
                    padding:40px 0 0;
                }
                .title{
                    @include responsive-to(all-mobile){
                        margin-bottom: 0px;
                    }
                }
                h3{
                    color: #394854;
                    &::after{
                        content: "";
                        height: 1px;
                        width: 100%;
                        background-color: #FF7F00;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        margin-top: 15px;
                    }
                }
            }
        }
        .mobile-margin-top{
            &.title{
                @include responsive-to(all-mobile){
                    margin-top: 150px;
                }
            }
        }
        &.contact-typeTwo{
            
            .title{
                h3{
                    color: #394854;
                    &::before{
                        display: none;
                    }
                    &::after{
                        content: "";
                        height: 1px;
                        width: 100%;
                        background-color: #FF7F00;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        margin-top: 15px;
                    }
                }
                &.no-line{
                    display: none;
                }
               
            }
            .contact-content-wrap{
                // margin-top: 810px;
                @include responsive-to(all-mobile){
                    // margin-top: 400px;
                }
            }
            .contact-section-wrap{
                .title{
                    @include responsive-to(all-mobile){
                        margin-bottom: 20px;
                    }
                    
                }
            }
        }
    }
}
.contact-content-wrap{
    background-color: #fff;
    padding-top: 70px;
    // margin-top: 350px;
    position: relative;
    z-index: 1;
    @include responsive-to(all-mobile){
        padding-top: 0;
    }
    .contact-section-wrap{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        padding: 20px 0;
        .address-sec{
            padding: 30px;
            color: #394854;
            position: relative;
            z-index: 1;
            @include responsive-to(all-mobile){
                padding-left: 0px;
                padding-right: 0;
            }
            .ca-btn-group{
                .btn{
                    max-width: 300px
                }
            }
        }
        .map-sec{
            position: relative;
            z-index: 1;
            background: #fff;
            padding: 11px;
            border: 1px solid #e1e1e1;
            iframe{
                width: 100%;
            }
        }
    }
}

.news-details-content{
    color: #394854;
    ol, ul, dl {
        margin-top: 0;
        margin-bottom: 2rem;
    }
}