.footer{
  position: relative;
  border-top: 1px solid #CECECE;
  margin-top: 80px;
  @include responsive-to(all-mobile){
   border-color: $orange;
   margin-top: 40px;
  }
  &::after{
    width: 69%;
    background-color: $purple;
    height: 100%;
    position: absolute;
    right: 0;
    content: "";
    pointer-events: none;
    top: 0;
    z-index: -1;
    @include responsive-to(all-mobile){
      display: none;
    }
  }

  &>.container{
    @include responsive-to(all-mobile){
      flex-wrap: wrap;
      padding: 0 !important;
    }
  }
  .col-left{
    width: 29%;
    display: flex;
    align-items: center;
    @include responsive-to(all-mobile){
      width: 100%;
    }
  }
  .col-right {
    width: 71%;
    padding-left: 0;
    align-items: center;
    @include responsive-to(all-mobile){
      width: 100%;
    }
}
  .footer-top{
    padding: 30px 0;
    position: relative;
    @include responsive-to(all-mobile){
      padding-left: 20px;
      padding-right: 20px;
    }
    .footer-sub{
      @include responsive-to(all-mobile){
        flex-wrap: wrap;
      }
    }
      .scroll-top{
        position: absolute;
        right: 0;
        top: 50%;
        width: 70px;
        height: 70px;
        transform: translateY(-50%);
        @include responsive-to(all-mobile){
          bottom: 0;
          top: inherit;
          transform: inherit;
        }
        a{
          background-color: white;
          width: 70px;
          height: 70px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          border-radius: 50%;
          position: relative;
          @include responsive-to(all-mobile){
            background-color: $purple;
            width: 50px;
            height: 50px;
          }
          &::after{
            background-image: url(../images/arrow-purple.svg);
            background-position: center center;
            background-size: 14px;
            background-repeat: no-repeat;
            position: absolute;
            top: 50%;
            content: "";
            transform: translateY(calc(-50% - -3px)) rotate(180deg) scale(-1);
            width: 24px;
            height: 24px;
            right: 0;
            left: 0;
            margin: 0 auto;
            transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            @include responsive-to(all-mobile){
              background-image: url(../images/arrow-white.svg);
            }
          }
          &::before{
            content: "";
            top: -2px;
            left: -2px;
            padding: 2px;
            z-index: -1;
            background: white;
            -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
            -moz-transition: -moz-transform 0.2s, opacity 0.3s;
            transition: transform 0.2s, opacity 0.3s;
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
          &:hover{
            &:before{
              -webkit-transform: scale(1.3);
              -moz-transform: scale(1.3);
              -ms-transform: scale(1.3);
              transform: scale(1.3);
              opacity: 0;
            }
            &::after{
              margin-top: -2px;
            }
          }
        }
      }
    
    .footer-menu{
      padding-left: 32px;
      padding-bottom: 35px;
      @include responsive-to(all-mobile){
        padding-left: 0;
        padding-bottom: 15px;
      }
      ul{
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        li{
          a{
            color: white;
            font-size: 18px;
            line-height: 32px;
            font-weight: bold;
            padding: 0 8px;
            @include responsive-to(all-mobile){
              font-size: 11px;
              line-height: 26px;
              font-weight: bold;
              padding: 0 3px;
              color: $purple;
            }
          }
        }
      }
    }
    .footer-addreess{
      padding-left: 40px;
      @include responsive-to(all-mobile){
        padding-left: 0;
        color: #8D969C;
      }
      p{
        color: white;
        font-size: 15px;
        line-height: 21px;
        font-weight: normal;
        @include responsive-to(all-mobile){
          color: #8D969C;
          font-size: 12px;
          line-height: 17px;
        }
      }
    }
    .footer-logo{
      img{
        max-height: 96px;
        @include responsive-to(all-mobile){
          max-height: 80px;
        }
      }
    }
  }
  .footer-bottom{
    border-top: 1px solid #C9C9C9;
    padding-top: 30px;
    @include responsive-to(all-mobile){
      padding-top: 0px;
      .footer-sub{
        flex-direction: column-reverse;
        background-color: $purple;
        padding:20px;
      }
    }
    .col-left{
      @include responsive-to(all-mobile){
        .footer-sub{
        }
      }
    }
    .footer-copyright{
      a{
        color: #8C959C;
        font-size: 15px;
        line-height: 21px;
        font-weight: 500;
        @include responsive-to(all-mobile){
          color: white;
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
    .footer-privacy{
      padding-left: 40px;
      @include responsive-to(all-mobile){
        padding-left: 0;
      }
      a{
        color: #fff;
        font-size: 15px;
        line-height: 21px;
        font-weight: 500;
        @include responsive-to(all-mobile){
          color: white;
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
    .footer-icons{
      display: flex;
      align-items: center;
      span{
        display: flex;
        align-items: center;
        padding-left: 30px;
        padding-bottom: 30px;
        @include responsive-to(all-mobile){
          padding-bottom: 0px;
          padding-left: 20px;
          img{
            max-height: 20px;
          }
        }
        a{
          display: flex;
          align-items: center;
        }
      }
    }
  }
}