.section-about{
  padding: 120px 0;
  @include responsive-to(all-mobile){
    padding: 50px 0 0;
}
  .hm-about{
    padding: 40px 0;
    h3{
      font-size: 48px;
      line-height: 60px;
      color: #394854;
      font-weight: bold;
      @include fuild-property(font-size,48,30, 1920, 1025);
      @include fuild-property(line-height,60,42, 1920, 1025);
      @include responsive-to(tablet-land){
        font-size: 32px;
        line-height: 38px;
      }
      @include responsive-to(all-mobile){
          font-size: 34px;
          line-height: 40px;
          margin-bottom: 3rem;
      }
      @include responsive-to(tablet){
        font-size: 28px;
      }
    }
    .hm-about-img{
      img{
        max-width: 100%;
        height: auto;
      }
    }
    .common-text{
      max-width: 85%;
      margin: 0 auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      @include responsive-to(all-mobile){
        max-width: 100%;
        padding: 20px 0;
      }
      .ca-btn-group{
        margin-top: auto;
      }
      p{
        font-size: 16px;
        line-height: 22px;
        color: #394854;
        @include fuild-property(font-size,16,14, 1920, 1025);
        @include fuild-property(line-height,22,20, 1920, 1025);
      }
    }
  }
}
.title-block{
  position: relative;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  .title-text{
    font-size: 16px;
    color: #394854;
    line-height: 22px;
    font-weight: bold;
    &.text-purple{
      color: $purple;
    }
  }
  &::after{
    content: "";
    height: 1px;
    width: 100%;
    background-color: $orange;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.slide-nav-default {
  .slidePrev, .slideNext{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #E9E9E9;
    position: relative;
    display: flex;
    align-content: center;
    transition: all 0.3s;
    @include responsive-to(all-mobile){
      width: 48px;
      height: 48px;

  }
    &::after{
      background-image: url(../images/slide-arrow.svg);
      content: "";
      background-size:cover ;
      background-position: center center;
      height: 12px;
      width: 12px;  
      z-index: 1;
      margin: 0 auto;
      pointer-events: none;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 0;
      bottom: 0;
      transition: all 0.3s;
    }
  }
  .slideNext{
    background-color: $purple;
    &::after{
      transform: scale(-1);
      background-image: url(../images/slide-arrow-white.svg);
    }
  }
  &.swiper-button-disabled{
    .slidePrev, .slideNext{
      background-color: #cbcbcb;
      &::after{
        background-image: url(../images/slide-arrow.svg);
      }
    }
  }

}
.bg-gray{
  background-color: $lightGray;
}
.bg-white{
  background-color: $white;
}
.bg-purple{
  background-color: $purple;
}
.text-purple{
  color: $purple;
}
.section-gallery{
  padding: 120px 0 0;
  @include responsive-to(all-mobile){
    padding-bottom:0px;
    padding-top: 60px;
  }
  h3{
    font-size: 48px;
    line-height: 60px;
    color: #394854;
    font-weight: bold;
    margin: 0;
    @include fuild-property(font-size,48,30, 1920, 1025);
    @include fuild-property(line-height,60,42, 1920, 1025);
    @include responsive-to(all-mobile){
        font-size: 34px;
        line-height: 40px;
    }
  }
  .hm-gallery{
    padding: 30px 0 0;
    @include responsive-to(all-mobile){
      padding-bottom:0px;
      padding-top: 40px;
    }
    .swiper {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      overflow: hidden;
      list-style: none;
      padding: 0;
      z-index: 1;
    }
  }
  .slide-btn-wrap{
    justify-content: flex-end;
    .slide-nav-default{
      margin-left: 10px;
    }
  }
  .swiper-slider-content{  
    padding-left: 7%;
    padding-right: 0;
    @include responsive-to(all-mobile){
      padding: 0;
  }
    .swiper{
      .swiper-wrapper{
        .swiper-image{
          overflow: hidden;
          position: relative;
          img{
            max-width: 100%;
            height: auto;
            width: 100%;
            
          }
        }
      }
    }
    &.swipe-type-two{
      .swiper{
        .swiper-wrapper{
          .swiper-slide{
            .swipe-inside-wrap{
              position: relative;
              &::after{
                content: "";
                position: absolute;
                pointer-events: none;
                left: 0;
                right: 0;
                top: 0;
                height: 100%;
                opacity: 0.7;
                transition: 0.5s;
                width: 100%;
                background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
                z-index: 0;
              }
             
              .swiper-slide-linkBlock{
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                height: 100%;
                width: 100%;
                padding: 30px;
                @include responsive-to(all-mobile){
                  padding: 30px 20px;
                }
                .swiper-title{
                  font-size: 28px;
                  line-height: 38px;
                  font-weight: 500;
                  color: white;
                  @include fuild-property(font-size,28,17, 1920, 1025);
                  @include fuild-property(line-height,36,22, 1920, 1025);
                  transform: translateY(-10px);
                  transition: all 0.3s ease-in-out 0s;
                  @include responsive-to(all-mobile){
                    font-size: 18px;
                    line-height: 26px;
                  }
                }
                .swiper-date{
                  color: white;
                  font-size: 16px;
                  line-height: 22px;
                  font-weight: 500;
                  position: absolute;
                  bottom: 30px;
                  transform: translateY(10px);
                  transition: all 0.3s ease-in-out 0s;
                  @include fuild-property(font-size,16,13, 1920, 1025);
                  @include fuild-property(line-height,22,19, 1920, 1025);
                }
                .swiper-link{
                  background-color: $orange;
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  position: relative;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  position: absolute;
                  bottom: 30px;
                  right: 30px;
                  z-index: 1;
                  transform: translateY(10px);
                  transition: all 0.3s ease-in-out 0s;
                  @include fuild-property(width,40,28, 1920, 1025);
                  @include fuild-property(height,40,28, 1920, 1025);
                  a{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    &::after{
                      content: "";
                      height: 20px;
                      left: 50%;
                      width: 20px;
                      z-index: 0;
                      top: 0;
                      border-radius: 5px;
                      transition: all 0.3s ease-in-out 0s;
                      background-image: url(../images/btn-arrow.svg);
                      background-position: center center;
                      background-repeat: no-repeat;
                      @include fuild-property(height,20,15, 1920, 1025);
                      @include fuild-property(width,20,15, 1920, 1025);
                    }
                  }
                 
                }

                &::before, &::after {
                  width: 100%;
                  height: 100%;
                  z-index: 3;
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 0;
                  box-sizing: border-box;
                  -webkit-transform: scale(0);
                  transition: 0.5s;
                  pointer-events: none;
                  }
                  
                  &::before {
                      border-bottom: 3px solid #ffffff;
                      border-left: 3px solid #fefeff;
                      -webkit-transform-origin: 100% 0%;
                  }
                  
                  &::after {
                      border-top: 3px solid #ffffff;
                      border-right: 3px solid #ffffff;
                      -webkit-transform-origin: 0% 100%;
                  }
                  &:hover{
                    &::after, &::before{
                      -webkit-transform: scale(1);
                    }
                  }
              }
              &:hover{
                &::after{
                  opacity: 1;
                  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,993687+100&0+0,1+100 */
                  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(153,54,135,1) 100%); /* FF3.6-15 */
                  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(153,54,135,1) 100%); /* Chrome10-25,Safari5.1-6 */
                  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(153,54,135,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#993687',GradientType=0 ); /* IE6-9 */

                }
                .swiper-title, .swiper-date, .swiper-link{
                  transform: scale(1) translateY(0px);
                }
                
              }
            }
              // .box::before, .box::after {
              //     width: 100%;
              //     height: 100%;
              //     z-index: 3;
              //     content: '';
              //     position: absolute;
              //     top: 0;
              //     left: 0;
              //     box-sizing: border-box;
              //     -webkit-transform: scale(0);
              //     transition: 0.5s;
              // }
              
              // .bar::before {
              //     border-bottom: 3px solid #ffffff;
              //     border-left: 3px solid #fefeff;
              //     -webkit-transform-origin: 100% 0%;
              // }
              
              // .bar::after {
              //     border-top: 3px solid #ffffff;
              //     border-right: 3px solid #ffffff;
              //     -webkit-transform-origin: 0% 100%;
              // }
              
              // .box:hover::after, .box:hover::before {
              //     -webkit-transform: scale(1);
              // }

          }
        }
      }
    }
  }

}
.main-wrap{
  .breadcrumb{
    li{
      a{
        color: $orange;
      }
    }
  }
}