.appWrapper{
  p{
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    @include fuild-property(font-size,16,14, 1920, 1025);
    @include fuild-property(line-height,24,18, 1920, 1025);
    @include responsive-to(all-mobile){
    font-size: 14px;
    line-height: 22px;
    }
}

  .home-banner{
    height: 100vh;
    background-color: #000;
   
    &>.container{
      height: 100%;
      padding: 0;
      max-width: 100%;
    }
    &::before{
      content: "";
      width: 100%;
      pointer-events: none;
      left: 0;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      background-color: rgba($color: #4903B4, $alpha: .38);
    }
    &::after{
      background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(33,0,83,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(33,0,83,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(33,0,83,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#210053',GradientType=0 ); /* IE6-9 */
      content: "";
      width: 100%;
      pointer-events: none;
      left: 0;
      height: 360px;
      display: block;
      position: absolute;
      bottom: 0;
    }
    .hm-banner-item{
      height: 100%;
      width: 100%;
      overflow: hidden;
      &::after{
        background-image: url(../images/main-bg-pattern.png);
        content: "";
        background-size:cover ;
        background-position: center center;
        height: 100%;
        width: 100%;  
        position: absolute;
        top: 0;
        z-index: 1;
        left: 0;
        pointer-events: none;
      }
    }
    .hm-banner-content{
      height: 100%;
      margin-bottom: 20px;
      overflow: hidden;
      .bannerImage{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: left bottom;
        background-repeat: no-repeat;
        opacity: 0.8;
      }
      .hm-banner-text{
        height: 100%;
        padding-top: 20%;
        max-width: 100%;
        padding-left: 7%;
        padding-right: 7%;  
        margin: 0 auto;
        @include responsive-to(all-mobile){
          position: relative;
        }
        .hm-banner-text-sec{
          position: relative;
          z-index: 2;
          height: 100%;
          max-width: 48%;
          @include responsive-to(all-mobile){
            margin: 0 auto;
            padding: 0 20px;
            left: 0;
            max-width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: auto;
          }
          @include responsive-to(tablet){
            max-width: 60%;
          }
          &::after{
            background: rgb(0 0 0 / 68%);
            content: "";
            width: 700px;
            height: 330px;
            position: absolute;
            bottom: 39%;
            filter: blur(61px);
            left: -10%;
            z-index: -1;
            @include responsive-to(all-mobile){
              bottom: 0;
            }
          }
          h2{
            font-size: 60px;
            line-height: 70px;
            font-weight: bold;
            margin: 0;
            color: white;
            @include fuild-property(font-size,60,34, 1920, 1025);
            @include fuild-property(line-height,70,52, 1920, 1025);
            @include responsive-to(all-mobile){
              font-size: 36px;
              line-height: 44px;
              letter-spacing: 0;
            }
            span{
              display: block;
              color: $white;
            }
           
          }
          p{
            font-size: 16px;
            line-height: 24px;
            color: $white;
            font-weight: normal;
            margin:10px 0 10px 0;
            @include fuild-property(margin-bottom,10,8, 1920, 1025);
            @include fuild-property(font-size,16,13, 1920, 1025);
            @include fuild-property(line-height,24,20, 1920, 1025);
            @include responsive-to(all-mobile){
              font-size: 12px;
              line-height: 22px;
              margin: 10px 0 30px 0;
            }
          }
          .ca-btn-group{
            margin-top: 30px;
            .btn{
              &:first-child{
                margin-right: 20px;
              }
            }
          }

        }
      }
      .homeBannerSwiper-container{
        height: 100%;
        background-color: #000;
       
      }
      .swiper-pagination-gradient{
        position: absolute;
        min-height: 300px;
        bottom: 0;
        width: 100%;
        z-index: 9;
        pointer-events: none;
        @include fuild-property(min-height,300,136, 1920, 1025);
        &::after{
          content: "";
          pointer-events: none;
          bottom: 0;
          width: 100%;
          left: 0;
          right: 0;
          height: 100%;
          position: absolute;
          z-index: 0;
          background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(4,29,75,1) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(4,29,75,1) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(4,29,75,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#041d4b',GradientType=0 ); /* IE6-9 */

        }
      }
      .swiper-pagination{
        display: flex;
        
        &.swiper-pagination-bullets{
          width: 100%;
          height: auto;
          border-radius: 0;
          max-width: 100%;
          padding-left: 7%;
          padding-right: 7%;
          margin: 0 auto;
          right: 0;
          bottom: 20px;
          
          @include responsive-to(all-mobile){
            padding: 0 15px;
            left: 0;
            right: 0;
          }
          .swiper-pagination-bullet{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: flex-start;
            text-align: left;
            border-radius: 0;
            max-width: 230px;
            min-width: 230px;
            font-size: 16px;
            line-height: 19px;
            font-weight: 500;
            position: relative;
            padding: 0;
            margin: 0;
            margin:0 20px 0 0;
            padding-top: 18px;
            color: white;
            opacity: 0.30;
            background-color: transparent;
            @include fuild-property(font-size,16,13, 1920, 1025);
            @include fuild-property(line-height,19,16, 1920, 1025);
            @include responsive-to(all-mobile){
              max-width:calc(33.333% - 10px);
              width: calc(33.333% - 10px);
              min-width: calc(33.333% - 10px);
              margin: 0 5px;
              font-size: 10px;
              line-height: 13px;
              padding-top: 12px;
              text-align: center;
              justify-content: center;
              
            }
            @include responsive-to(tablet){
              font-size: 16px;
              line-height: 20px;
              padding-top: 12px;
              text-align: left;
            }
            &::before{
              width: 100%;
              height: 2px;
              content: "";
              display: block;
              background-color: #969AA2;
              position: absolute;
              top: 0;
              left: 0;
            }
            &.swiper-pagination-bullet-active{
              background-color: transparent;
              color: white;
              opacity: 1;
              &::before{
                background-color: $orange;
              }
            }
          }
        }
      }
    }
  }
  .video-player-wrap{
    background: rgb(4,29,75); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(4,29,75,1) 0%, rgba(97,1,249,1) 77%, rgba(100,0,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(4,29,75,1) 0%,rgba(97,1,249,1) 77%,rgba(100,0,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(4,29,75,1) 0%,rgba(97,1,249,1) 77%,rgba(100,0,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#041d4b', endColorstr='#6400ff',GradientType=1 ); /* IE6-9 */
    padding-top: 20px;
    position: relative;
    padding-bottom: 120px;
    overflow: hidden;
    @include responsive-to(all-mobile){
      padding: 0;
    }
    &::before{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 300px;
      right: 0;
      background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(4,29,75,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(4,29,75,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(4,29,75,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#041d4b',GradientType=0 ); /* IE6-9 */
      transform: scaleY(-1);
    }
    &::after{
      content: "";
      position: absolute;
      right: 0;
      bottom: -200px;
      width: 700px;
      height: 600px;
      right: 1%;
      opacity: .6;
      filter: blur(50px);
      border-radius: 50%;
      background: -moz-radial-gradient(center, ellipse cover,  rgba(255,127,0,1) 0%, rgba(255,127,0,0) 100%); /* FF3.6-15 */
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,127,0,1) 0%,rgba(255,127,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: radial-gradient(ellipse at center,  rgba(255,127,0,1) 0%,rgba(255,127,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7f00', endColorstr='#00ff7f00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      z-index: 1;
    }
    .video-player-content-wrap{
      max-width: 100%;
      padding: 0 7%;
      margin: 0 auto;
      position: relative;
      @include responsive-to(all-mobile){
        padding: 0 0;
      }
       .video-player-content{
        position: relative;
        z-index: 2;
        padding: 0 5%;
        @include responsive-to(all-mobile){
          padding: 0;
        }
       
      .video-title{
        position: absolute;
        bottom: 5%;
        left: 8%;
        font-weight: bold;
        font-size: 34px;
        line-height: 42px;
        z-index: 1;
        color: white;
        max-width: 400px;
        @include responsive-to(mobile){
          font-size: 14px;
          line-height: 20px;
          left: 20px;
          bottom: 20px;
        }
      }
      .plyr{
        position: relative;
        // height: 830px;
        @include responsive-to(all-mobile){
          // height: 230px;
        }
        &::before{
          background-color: rgba(0,0,0,0.26);
          pointer-events: none;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          content: "";
        }
      }
    }
    }
   
  }
 
}

