.inner-banner{
    background: rgb(0,0,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(4,29,75,1) 46%, rgba(100,0,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(4,29,75,1) 46%,rgba(100,0,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(4,29,75,1) 46%,rgba(100,0,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#6400ff',GradientType=0 ); /* IE6-9 */
    padding-bottom: 5px;
    overflow: hidden;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        bottom: 0px;
        width: 700px;
        height: 600px;
        left: 7%;
        opacity: 0.6;
        -webkit-filter: blur(50px);
        filter: blur(50px);
        border-radius: 50%;
        background: radial-gradient(ellipse at center, #ff7f00 0%, rgba(255, 127, 0, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff7f00", endColorstr="#00ff7f00",GradientType=1 );
        z-index: 0;
        display: none;
    }
    .innerBannerImage{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        position: absolute;
        top: -50%;
        left: 0;
        height: 100%;
        width: 100%;
        transform: rotate(7deg) scale(1.2);
        pointer-events: none;
        z-index: 1;
        @include responsive-to(all-mobile){
            transform: rotate(3deg) scale(1.2); 
        }
    }
    .innerBannerImage-bg-color{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        position: absolute;
        top: -50%;
        left: 0;
        height: 100%;
        width: 100%;
        transform: rotate(7deg) scale(1.2);
        pointer-events: none;
        z-index: 1;
        @include responsive-to(all-mobile){
            transform: rotate(3deg) scale(1.3); 
        }
    }
    .innerBannerImage-overlay{
        position: absolute;
        height: 500px;
        bottom: 0;
        z-index: 0;
        left: 0;
        right: 0;
        width: 100%;
        pointer-events: none;
        &::after{
          content: "";
          top: 100%;
          width: 100%;
          left: 0;
          right: 0;
          height: 100%;
          position: absolute;
          z-index: 0;
          transform: scaleY(-1);
          background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(4,29,75,1) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(4,29,75,1) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(4,29,75,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#041d4b',GradientType=0 ); /* IE6-9 */

        }
        &::before{
            content: "";
            bottom: 0;
            width: 100%;
            left: 0;
            right: 0;
            height: 100%;
            position: absolute;
            z-index: 0;
            background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(4,29,75,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(4,29,75,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(4,29,75,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#041d4b',GradientType=0 ); /* IE6-9 */
  
          }
    }
    .inner-banner-content{
        // max-height: 1150px;
        // @include fuild-property(max-height,1150,900, 1920, 1025);
        .inner-banner-item{
            .inner-banner-text{
                padding-top: 400px;
                position: relative;
                z-index: 1;
                @include responsive-to(all-mobile){
                    padding-top: 100px;
                }
                @include fuild-property(padding-top,400,160, 1920, 1025);
                .inner-banner-title{
                    padding-bottom: 150px;
                    @include responsive-to(all-mobile){
                        padding-bottom: 50px;
                    }
                    @include fuild-property(padding-bottom,150,40, 1920, 1025);
                    h6{
                        font-size: 16px;
                        line-height: 24px;
                        color: $white;
                        font-weight: bold;
                        margin:10px 0 10px 0;
                        @include fuild-property(margin-bottom,10,14, 1920, 1025);
                        @include fuild-property(font-size,16,14, 1920, 1025);
                        @include fuild-property(line-height,24,20, 1920, 1025);
                        @include responsive-to(all-mobile){
                          font-size: 14px;
                          line-height: 17px;
                          margin: 10px 0 30px 0;
                        }
                    }
                    h2{
                        font-size: 56px;
                        line-height: 70px;
                        font-weight: bold;
                        margin: 0;
                        color: white;
                        @include fuild-property(font-size,56,52, 1920, 1025);
                        @include fuild-property(line-height,70,60, 1920, 1025);
                        @include responsive-to(all-mobile){
                          font-size: 36px;
                          line-height: 44px;
                          letter-spacing: 0;
                        }
                    }
                }
                .inner-banner-desc{
                    display: flex;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    .banner-image{
                        img{
                            max-width: 100%;
                        }
                    }
                    .banner-desc{
                        max-width: 85%;
                        padding-left: 15%; 
                        color: white;
                        @include responsive-to(all-mobile){
                            max-width: 100%;
                            padding-left: 0;
                            padding-top: 10px;
                        }  
                        p{
                            color: white;
                            @include responsive-to(all-mobile){
                                margin: 10px 0 30px 0;
                            }   
                        }
                    }
                    
                }
            }
        }
    }
}