.media-main-bg {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    background-position: top center;
    pointer-events: none;
    z-index: 1;
    overflow: hidden;
    @include responsive-to(all-mobile){
        height: 500px;
    }
   
    &::after{
        position: absolute;
        bottom:0;
        width: 100%;
        height: 250px;
        right: 0;
        left: 0;
        margin: auto;
        content: "";
        right: 0;
        margin: 0 auto;
        pointer-events: none;
        z-index: 0;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    }
    .v-center-title{
        position: absolute;
        z-index: 1;
        left: 7%;
        bottom: 7%;
        &.title{
            h2{
                font-size: 56px;
                line-height: 70px;
                font-weight: bold;
                margin: 0;
                color: white;
                @include fuild-property(font-size,56,52, 1920, 1025);
                @include fuild-property(line-height,70,60, 1920, 1025);
                &::before{
                    content: "";
                    height: 1px;
                    width: 100%;
                    background-color: #FF7F00;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    margin-bottom: 15px;
                }
                @include responsive-to(all-mobile){
                  font-size: 36px;
                  line-height: 44px;
                  letter-spacing: 0;
                }
            }
            &.no-line{
                h2{
                    &::before{
                        display: none;
                    }
                }
            }
        }
    }
}
.media-page-main{
    background-color: #ffffff;
    background-image: url(../images/bg-pattern.svg);
    background-size:cover ;
    background-position: center center;
    position: relative;
    overflow: hidden;
   
    .row{
        padding: 0;
        margin: 0;
        --bs-gutter-x: 0;
    }
    &>.container-fluid{
        position: relative;
        z-index: 1;
        padding: 0;
    }
   
    .title{
        margin-top: 400px;
        position: relative;
        z-index: 1;
        padding: 0;
        @include fuild-property(margin-top,400,160, 1920, 1025);
        @include responsive-to(all-mobile){
            margin-top: 100px;
        }
        h2{
            font-size: 56px;
            line-height: 70px;
            font-weight: bold;
            margin: 0;
            color: white;
            @include fuild-property(font-size,56,52, 1920, 1025);
            @include fuild-property(line-height,70,60, 1920, 1025);
            @include responsive-to(all-mobile){
              font-size: 36px;
              line-height: 44px;
              letter-spacing: 0;
            }
        }
    }
    .top-action-wrap{
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        margin: 30px 0 50px;
        border-bottom: 1px solid rgba(201, 201, 201, 0.5);
        flex-wrap: wrap;
        .tabs-col{
            width: 50%;
            @include responsive-to(all-mobile){
                width: 100%;
                margin-bottom: 20px;
            }
            ul{
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                li{
                    margin-right: 60px;
                    @include responsive-to(all-mobile){
                        margin: 0;
                        flex: auto;
                    }
                    .nav-link{
                        font-size: 16px;
                        line-height: 24px;
                        color: $black;
                        font-weight: bold;
                        margin:0 0 -1px 0;
                        padding: 0;
                        height: 64px;
                        border-radius: 0;
                        @include fuild-property(font-size,16,14, 1920, 1025);
                        @include fuild-property(line-height,24,20, 1920, 1025);
                        outline: none !important;
                        box-shadow: none !important;
                        @include responsive-to(all-mobile){
                          font-size: 14px;
                          line-height: 17px;
                          margin: 0 0 0 0;
                        }
                        &.active{
                            background-color: transparent;
                            border-bottom: 2px solid $orange;
                        }
                    }
                }
            }
        }
        .media-search-col{
            width: 50%;
            position: relative;
            border-left: 1px solid rgba(255, 255, 255, 0.5);
            display: none;
            @include responsive-to(all-mobile){
                width: 100%;
                border: 0;
            }
            input[type="submit"]{
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 48px;
                height: 48px;
                border-radius: 50%;
                border: 1px solid rgba(255, 255, 255, 0.26);
                outline: none;
                background-color: transparent;
                background-image: url(../images/search-white.svg);
                background-size:cover ;
                background-position: center center;
                background-size: 20px;
                background-repeat: no-repeat;
                @include responsive-to(all-mobile){
                    margin-top: -18px;
                }
                
                &::after{
                    background-image: url(../images/search-white.svg);
                    background-size:cover ;
                    background-position: center center;
                    background-size: 15px;
                    background-repeat: no-repeat;
                    width: 15px;
                    height: 20px;
                    position: absolute;
                    right: 0;
                    left: 0;
                    transform: translateY(-50%);
                }
            }
            input[type="text"]{
                padding: 5px 30px;
                border: 0px none;
                height: 64px;
                font-size: 16px;
                line-height: 22px;
                color: $white;
                font-weight: 500;
                margin:0 0 0 0;
                color: white;
                border-radius: 0;
                background-color: transparent;
                outline: none;
                width: 100%;
                @include fuild-property(font-size,16,13, 1920, 1025);
                @include fuild-property(line-height,22,16, 1920, 1025);
                &::-webkit-input-placeholder { /* Edge */
                    color: white;
                  }
                  
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: white;
                }
                
                &::placeholder {
                    color: white;
                }
                @include responsive-to(all-mobile){
                    letter-spacing: 0;
                    margin:0 0 0 0;
                    padding: 5px 50px 0 0;
                }
            }

        }
    }
    .tabs-result-col{
        display: flex;
        align-items: flex-start;
        position: relative;
        flex-wrap: wrap;
        margin-bottom: 30px;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(125, 185, 232, 0)), to(#041d4b));
            background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, #041d4b 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#007db9e8", endColorstr="#041d4b",GradientType=0 );
            width: 100%;
            z-index: -1;
            height: 100%;
            opacity: 0;
        }
        @include responsive-to(all-mobile){
        }
        .result-image{
            width: 50%;
            position: relative;
            .artcl-date{
                position: absolute;
                left: 12%;
                bottom: 30px;
                font-size: 16px;
                line-height: 24px;
                color: $white;
                font-weight: 500;
                margin:0 0 0 0;
                padding: 0;
                z-index: 1;
                @include fuild-property(font-size,16,14, 1920, 1025);
                @include fuild-property(line-height,24,20, 1920, 1025);
            }
            &::after{
                content: "";
                width: 100%;
                height: 50%;
                left: 0;
                position: absolute;
                bottom: 0;
                z-index: 0;
                /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
                background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

            }
            @include responsive-to(all-mobile){
                max-width: 100%;
                width: 100%;
            }
            img{
                max-width: 100%;
                height: auto;
            }
        }
        .result-content{
            width: 50%;
            color: white;
            padding: 0 7%;
            max-width: 45%;
            @include responsive-to(all-mobile){
                max-width: 100%;
                width: 100%;
                padding: 20px;
            }
            h3{
                font-size: 34px;
                line-height: 38px;
                font-weight: medium;
                margin-bottom: 70;
                color: #394854;
                @include fuild-property(font-size,34,24, 1920, 1025);
                @include fuild-property(line-height,38,30, 1920, 1025);
                @include fuild-property(margin-bottom,70,40, 1920, 1025);
                @include responsive-to(all-mobile){
                  font-size: 24px;
                  line-height: 30px;
                  letter-spacing: 0;
                }
            }
            p{
                font-size: 16px;
                line-height: 22px;
                color: $white;
                font-weight: 500;
                margin:0 0 70px 0;
                color: #394854;
                @include fuild-property(margin-bottom,70,40, 1920, 1025);
                @include fuild-property(font-size,16,13, 1920, 1025);
                @include fuild-property(line-height,22,16, 1920, 1025);
                @include responsive-to(all-mobile){
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 0;
                    margin:0 0 30px 0;
                }
            }
        }
    }
}
.media-page{
    .section-article{
        margin-top: 0;
    }   
}
.section-article{
    width: 100%;
    .row, .container{
        margin: 0;
        padding: 0;
    }
}
.article-listing{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    @include responsive-to(all-mobile){
        margin: 0;
    }
    margin: 0 -10px;
    .swiper-slide{
        height: auto;
        width: 33.333%;
        padding: 10px;
        @include responsive-to(all-mobile){
            padding: 10px 0;
            width: 100%;
        }
        .swipe-inside-wrap{
          position: relative;
          &::after{
            content: "";
            position: absolute;
            pointer-events: none;
            left: 0;
            right: 0;
            top: 0;
            height: 100%;
            opacity: 0.7;
            transition: 0.5s;
            width: 100%;
            background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
            z-index: 0;
          }
         .swiper-image{
             img{
                 width: 100%;
                 height: auto;
                 max-width: 100%;
             }
         }
          .swiper-slide-linkBlock{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            height: 100%;
            width: 100%;
            padding: 30px;
            @include responsive-to(all-mobile){
              padding: 30px 20px;
            }
            .swiper-title{
              font-size: 28px;
              line-height: 38px;
              font-weight: 500;
              color: white;
              @include fuild-property(font-size,28,17, 1920, 1025);
              @include fuild-property(line-height,36,22, 1920, 1025);
              transform: translateY(-10px);
              transition: all 0.3s ease-in-out 0s;
              @include responsive-to(all-mobile){
                font-size: 18px;
                line-height: 26px;
              }
            }
            .swiper-date{
              color: white;
              font-size: 16px;
              line-height: 22px;
              font-weight: 500;
              position: absolute;
              bottom: 30px;
              transform: translateY(10px);
              transition: all 0.3s ease-in-out 0s;
              @include fuild-property(font-size,16,13, 1920, 1025);
              @include fuild-property(line-height,22,19, 1920, 1025);
            }
            .swiper-link{
              background-color: $orange;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              bottom: 30px;
              right: 30px;
              z-index: 1;
              transform: translateY(10px);
              transition: all 0.3s ease-in-out 0s;
              @include fuild-property(width,40,28, 1920, 1025);
              @include fuild-property(height,40,28, 1920, 1025);
              a{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                &::after{
                  content: "";
                  height: 20px;
                  left: 50%;
                  width: 20px;
                  z-index: 0;
                  top: 0;
                  border-radius: 5px;
                  transition: all 0.3s ease-in-out 0s;
                  background-image: url(../images/btn-arrow.svg);
                  background-position: center center;
                  background-repeat: no-repeat;
                  @include fuild-property(height,20,15, 1920, 1025);
                  @include fuild-property(width,20,15, 1920, 1025);
                }
              }
             
            }
            &::before, &::after {
                width: 100%;
                height: 100%;
                z-index: 3;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                box-sizing: border-box;
                -webkit-transform: scale(0);
                transition: 0.5s;
                pointer-events: none;
                }
                
                &::before {
                    border-bottom: 3px solid #ffffff;
                    border-left: 3px solid #fefeff;
                    -webkit-transform-origin: 100% 0%;
                }
                
                &::after {
                    border-top: 3px solid #ffffff;
                    border-right: 3px solid #ffffff;
                    -webkit-transform-origin: 0% 100%;
                }
                &:hover{
                  &::after, &::before{
                    -webkit-transform: scale(1);
                  }
                }
          }
          &:hover{
            &::after{
              opacity: 1;
              /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,993687+100&0+0,1+100 */
              background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(153,54,135,1) 100%); /* FF3.6-15 */
              background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(153,54,135,1) 100%); /* Chrome10-25,Safari5.1-6 */
              background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(153,54,135,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#993687',GradientType=0 ); /* IE6-9 */

            }
            .swiper-title, .swiper-date, .swiper-link{
              transform: scale(1) translateY(0px);
            }
            
          }
        }
            .box::before, .box::after {
              width: 100%;
              height: 100%;
              z-index: 3;
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              box-sizing: border-box;
              -webkit-transform: scale(0);
              transition: 0.5s;
          }
          
          .bar::before {
              border-bottom: 3px solid #ffffff;
              border-left: 3px solid #fefeff;
              -webkit-transform-origin: 100% 0%;
          }
          
          .bar::after {
              border-top: 3px solid #ffffff;
              border-right: 3px solid #ffffff;
              -webkit-transform-origin: 0% 100%;
          }
          
          .box:hover::after, .box:hover::before {
              -webkit-transform: scale(1);
          }

      }
    .press-relese-listing{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 0 0px;
        @include fuild-property(margin-right,-7,-3, 1920, 1025);
        @include fuild-property(margin-left,-7,-3, 1920, 1025);
        .swiper-slide{
            width: 20%;
            padding: 10px;
        }
        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 20px;
            thead{
                tr{
                    th{
                        background: $purple;
                        border: none;
                        padding: 20px 30px;
                        color: white;
                        font-size: 16px;
                        font-weight: bold;
                        text-transform: uppercase;
                        vertical-align: middle;
                        text-align: left;
                    }
                }
            }
            tbody{
                tr{
                    &:nth-of-type(odd){
                        background: #fff;
                    }
                    &:nth-of-type(even){
                        background: #eeeeee;
                    }
                    td{
                        padding: 15px 30px;
                        color: #555555;
                        font-size: 16px;
                        font-weight: 500;
                        border: none;
                        vertical-align: middle;
                        text-align: left;
                        @include responsive-to(all-mobile){
                            padding: 7px 8px;
                            color: #555555;
                            font-size: 14px;
                        }
                        a{
                            color: $purple;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
        ul{
            border: 0px none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: flex-start;
            width: 100%;
            flex-wrap: wrap;
            justify-content: flex-start;
            li{
                width: 33.333%;
                height: 350px;
                display: flex;
                align-items:stretch;
                padding: 7px;
                // @include fuild-property(width,228,170, 1920, 1025);
                @include fuild-property(height,350,250, 1920, 1025);
                @include fuild-property(padding,7,3, 1920, 1025);
                @include responsive-to(mobile){
                    width: 100%;
                    height: 220px;
                }
                @include responsive-to(tablet){
                    width: 50%;
                    height: 246px;
                }
                a{
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    height: 100%;
                    align-items:stretch;
                    position: relative;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    overflow: hidden;
                    .press-box-items{
                        background-color: #394854;
                        width: 100%;
                        padding: 20px;
                        display: flex;
                        flex-wrap: wrap;
                        
                        flex-direction: column;
                        justify-content: flex-start;
                        @include fuild-property(padding,20,10, 1920, 1025);
                        .press-date{
                            color: #b3b3b3;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 16px;
                            transition: transform 0.35s;
                            @include fuild-property(font-size,12,11, 1920, 1025);
                            @include fuild-property(line-height,16,14, 1920, 1025);
                        }
                        .press-title{
                            color: white;
                            display: flex;
                            align-items: flex-start;
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 22px;
                            transition: transform 0.35s;
                            padding: 15px 0;
                            text-decoration: underline;
                            @include fuild-property(font-size,18,12, 1920, 1025);
                            @include fuild-property(line-height,22,14, 1920, 1025);
                            @include responsive-to(mobile){
                            }
                        }
                        .press-content{
                            font-size: 15px;
                            color: #b3b3b3;
                            font-weight: 500;
                            line-height: 23px;
                            transition: transform 0.35s;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;  
                            overflow: hidden;
                            @include fuild-property(font-size,15,14, 1920, 1025);
                            @include fuild-property(line-height,24,19, 1920, 1025);
                            @include responsive-to(mobile){
                                font-size: 13px;
                                line-height: 19px;
                            }
                        }
                        .press-bottom{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding-top: 20px;
                            width: 100%;
                            margin-top: auto;
                            @include fuild-property(padding-top,20,15, 1920, 1025);
                            .press-readmore{
                                color: $orange;
                                transition: transform 0.35s;
                                font-size: 14px;
                                font-weight: bold;
                                line-height: 1;
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                height: 100%;
                                flex-wrap: wrap;
                                position: relative;
                                &::after{
                                    content: "";
                                    height: 20px;
                                    width: 20px;
                                    z-index: 0;
                                    top: 0;
                                    border-radius: 5px;
                                    transition: all 0.3s ease-in-out 0s;
                                    background-image: url(../images/btn-arrow.svg);
                                    background-position: center center;
                                    background-repeat: no-repeat;
                                    background-size: 26px;  
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    right: 0;
                                }
                            }
                           
                            
                        }
                    }
                    &:after{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        pointer-events: none;
                        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
                        opacity: 0.4;
                        content: '';
                        -webkit-transition: -webkit-transform 0.6s;
                        transition: transform 0.6s;
                        transform: scale3d(2.9,2.4,1) rotate3d(0,0,1, 45deg) translate3d(0,-100%,0);
                        display: none !important;
                    }
                    &:hover{
                        text-decoration: none;
                        .press-box-items{
                            .press-title, .press-date{
                                transform: translate3d(10px,0,0);
                            }
                            .press-readmore{
                                transform: translate3d(0,-10px,0);
                            }
                            .press-content{
                                transform: translate3d(10px,0,0);
                            }
                        }
                        
                        &:after{
                            transform: scale3d(1.9,1.4,1) rotate3d(0,0,1, 45deg) translate3d(0,100%,0);
                        }
                    }
                
                }
            }
        }
    }
}
.photos-lisitng-wrap{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    color: white;
    padding: 0;
    &.media-kit-sec{
    // background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 74%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 74%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 74%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
        .col-12{
            padding: 0;
        }
            @include responsive-to(all-mobile){
            padding: 20px 0;
        }    
        p {
            color: #394854;
                a{
                    color: $purple;
                    font-weight: bold;
                }
            }
            .logo-section{
                align-items: center;
                justify-content: center;
                display: flex;
                @include responsive-to(all-mobile){
                    padding-top: 20px;
                    padding-bottom: 20px;
                    justify-content: flex-start;
                }
                img{
                    max-width: 70%;
                    width: 100%;
                }
            }
    }
}
.photo-gallery-nav {
    button.button {
        background-color: transparent;
        border: 1px solid white;
        border-radius: 26px;
        font-size: 16px;
        line-height: 24px;
        color: $white;
        font-weight: 500;
        margin:0 22px 0 0;
        padding: 0 30px;
        height: 44px;
        transition: all 0.3s;
        @include fuild-property(font-size,16,14, 1920, 1025);
        @include fuild-property(line-height,24,20, 1920, 1025);
        @include responsive-to(all-mobile){
            font-size: 13px;
            line-height: 24px;
            margin: 0 7px 0 0;
            padding: 0px 18px;
            height: 40px;
        }
        &.is-checked, &:hover{
            background-color: $orange;
            color: white;
        }

    }
}

.media-video-wrap{
    // background-color: white;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    
    .video-listing{
        margin: 0 -10px;
        @include responsive-to(all-mobile){
            margin: 0;
        }
        ul{
            margin: 0;
            padding: 0;
            display: flex;
            align-items: flex-start;
            list-style: none;
            flex-wrap: wrap;
            @include responsive-to(all-mobile){
                margin: 0 -5px;
            }
            li{
                width: 33.333%;
                padding: 10px;
                @include responsive-to(all-mobile){
                    width: 50%;
                    padding: 5px;
                }
                .video-thumb{
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-color: #f8f8f8;
                    min-height: 400px;
                    position: relative;
                    @include fuild-property(min-height,400,300, 1920, 1025);
                    @include responsive-to(tablet-land){
                        min-height: 300px;
                    }
                    @include responsive-to(all-mobile){
                        min-height: 150px;
                    }
                    @include responsive-to(tablet){
                        min-height: 230px;
                    }
                    
                    a{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        position: absolute;
                        left: 0;
                        top: 0;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        overflow: hidden;
                        
                        &::before{
                            background-image: url(../images/play-btn.svg);
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-size: 60px;
                            position: absolute;
                            top: 50%;
                            right: 0;
                            left: 0;
                            margin: 0 auto;
                            content: "";
                            transform: translateY(-50%);
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0,0,0,0.2);
                            cursor: pointer;
                            @include responsive-to(all-mobile){
                                background-size: 40px;
                            }
                        }
                        &:after{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
                            background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
                            background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
                            opacity: 0.4;
                            content: '';
                            -webkit-transition: -webkit-transform 0.6s;
                            transition: transform 0.6s;
                            -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1, 45deg) translate3d(0,-100%,0);
                            transform: scale3d(1.9,1.4,1) rotate3d(0,0,1, 45deg) translate3d(0,-100%,0);
                        }
                        &:hover{
                            &:after{
                                -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1, 45deg) translate3d(0,100%,0);
                                transform: scale3d(1.9,1.4,1) rotate3d(0,0,1, 45deg) translate3d(0,100%,0);
                            }
                        }
                    }
                   
                }
                
            }
        }
    }
}
.grid-photo-listing{
    
   .container-fluid{
       padding: 0;
       margin: 0;
   }
    .grid {
        margin: 2rem auto;
        margin-left: -5px;
        margin-right: -5px;
        @include responsive-to(all-mobile){
            margin: 2rem auto;
        } 
        .grid-item {
        width: 33.333%;
        height: auto;
        margin-bottom: 10px;
        @include responsive-to(all-mobile){
            width: 50%;
        } 
        .image-sec{
            padding: 0 5px;

                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                overflow: hidden;
            &:after{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
                opacity: 0.4;
                content: '';
                -webkit-transition: -webkit-transform 0.6s;
                transition: transform 0.6s;
                -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1, 45deg) translate3d(0,-100%,0);
                transform: scale3d(1.9,1.4,1) rotate3d(0,0,1, 45deg) translate3d(0,-100%,0);
                display: none;
            }
            &:hover{
                &:after{
                    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1, 45deg) translate3d(0,100%,0);
                    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1, 45deg) translate3d(0,100%,0);
                }
            }
            
        }
        img {
            width: 100%;
            height: 100%;
        }
        }
    }
    &.previous-grid{
        background-color: white;
        .grid{
            margin: 0;
        }
    }
  

}
.border-bottom-title{
    h3{
        margin-bottom: 3rem;
        color: #394854;
        &::after{
            content: "";
            height: 1px;
            width: 100%;
            background-color: #FF7F00;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-top: 15px;
        }
    }
}