header{
  transition: all 0.3s;
  @include responsive-to(all-mobile){
  }
  &::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    height: 80px;
    right: 0;
    opacity: 0.6;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    border-radius: 50%;
    background: radial-gradient(ellipse at center, #ff7f00 0%, rgba(255, 127, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff7f00", endColorstr="#00ff7f00",GradientType=1 );
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    @include responsive-to(all-mobile){
      display: none;
    }
  }
  .navbar{
    padding: 30px 60px;
    transition: padding 0.3s;
    &::after{
      content: "";
      width: 100%;
      pointer-events: none;
      left: 0;
      min-height: 180px;
      display: block;
      position: absolute;
      top: 0;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#210053+0,ffffff+100&1+0,0+100 */
      // background: -moz-linear-gradient(top,  rgba(33,0,83,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
      // background: -webkit-linear-gradient(top,  rgba(33,0,83,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
      // background: linear-gradient(to bottom,  rgba(33,0,83,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#210053', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */


      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+100 */
      background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
      opacity: 0.9;
      z-index: -1;
    }
    @include responsive-to(all-mobile){
      padding: 90px 20px;
      background-color: $purple;
      height: 100vh;
      min-height: inherit;
      width: 100%;
      transform: translateX(100%);
      transition: all 0.3s ease-out;
      visibility: hidden;
    }
  }
  padding: 0;
  .container-fluid{
    padding: 0;
    .logo-box{
      display: flex;
      align-items: center;
      @include responsive-to(all-mobile){
        display: none;
      }
      .logo-img{
        display: flex;
        align-content: center;
        a{
          display: flex;
          align-content: center;
        }
        img{
          max-height: 72px;
          transition: max-height 0.3s;
          @include responsive-to(all-mobile){
            height: 40px;
            max-height: 40px;
          }
        }
      }
    }
    .tii-nav-desktop{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @include responsive-to(all-mobile){
        justify-content: center;
      }
      &>ul{
        display: flex;
        align-items: center;
      }
      ul{
       
        margin: 0;
        padding: 0;
        list-style: none;
        @include responsive-to(all-mobile){
          flex-direction: column;
          width: 100%;
        }
        li{
          list-style: none;
          display: flex;
          align-items: center;
          position: relative;
          @include responsive-to(all-mobile){
            width: 100%;
            padding: 8px 0;
            flex-wrap: wrap;
            position: relative;
            overflow:hidden;
          }
          a{
            color: $white;
            font-size: 16px;
            line-height: 22px;
            font-weight: bold;
            display: flex;
            align-items: center;
            padding: 0 25px;
            transition: all 0.3s;
            @include responsive-to(all-mobile){
              font-size: 30px;
              line-height: 34px;
              padding: 0 0 0 0;
              width: 100%;
              font-weight: 700; 
              justify-content: center;
            }
            &.show{
              color: $yellow;
            }
            &:hover{
              color: $yellow;
              text-decoration: none;
            }
            &.dropdown-toggle{
              &::after{
                margin-left: 15px;
              }
            }
          }
          &:last-child{
            a{
              padding-right: 0;
            }
          }
          .dropdown-menu{
            top: 100%;
            background: transparent;
            padding-top: 10px;
            transform: translateY(50px);
            display: block;
            visibility: hidden;
            opacity: 0;
            transition: all 0.4s ease-out 0s;
            box-shadow: none;
            border: 0;
            background-color: $purple;
            padding-bottom: 10px;
            margin-top: 10px;
            @include responsive-to(all-mobile){
              position: inherit;
              transform: inherit;
              visibility: visible;
              display: none;
              opacity: 1;
            }
            &.show{
              -webkit-transform: translateY(0px);
              opacity: 1;
              visibility: visible;
              @include responsive-to(all-mobile){
                height: auto;
                display: block;
              }
            }
            li{
              @include responsive-to(all-mobile){
                padding: 0;
              }
              a{
                font-size: 14px;
                line-height: 19px;
                padding: 5px 2px;
                justify-content: center;
                @include responsive-to(all-mobile){
                  font-size: 18px;
                  line-height: 25px;
                }
                &:hover{
                  background-color: transparent;
                  color: $yellow;
                }
              }
            }
          }
          &.first-child{
            display: none;
            @include responsive-to(all-mobile){
              display: flex;
            }
          }
        }
      }
    }
  }

}
// mobile menu
body{
  .ca-mobile-menu {
    position: fixed;
    top: 20px;
    z-index: 1;
    right: 20px;
    z-index: 11;
    display: none;
    @include responsive-to(all-mobile){
      display: block;
    }
    .hamburger .line{
      width: 44px;
      height: 1px;
      background-color: #fff;
      display: block;
      margin: 8px auto;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    .hamburger:hover{
      cursor: pointer;
    }
  }

  .ca-mobile-logo{
    position: fixed;
    left: 0;
    z-index: 10;
    top: 0;
    padding: 20px;
    display: none;
    width: 100%;
    @include responsive-to(all-mobile){
      display: block;
    }
    .ca-logo-sec{
      display: flex;
      align-items: center;
      @include responsive-to(all-mobile){
        flex-wrap: wrap;
      }
      .ca-logo-img{
        display: flex;
        align-content: center;
        a{
          display: flex;
          align-content: center;
        }
        img{
          @include responsive-to(all-mobile){
            height: 40px;
            max-height: 40px;
          }
        }
      }
      .ca-top-info{
        font-size: 20px;
        line-height: 27px;
        font-weight: 500;
        margin: 0;
        color: $white;
        display: flex;
        align-content: center;
        
        @include fuild-property(font-size,20,16, 1920, 1200);
        @include fuild-property(line-height,27,22, 1920, 1200);
        @include responsive-to(all-mobile){
          font-size: 12px;
          line-height: 14px;
          flex: 1;
          padding-right: 60px;
          max-width: 300px;
        }
        &:before{
          border-left: 1px solid white;
          min-height: 70px;
          content: "";  
          padding-left:30px;
          margin-left:30px;
          @include responsive-to(all-mobile){
            padding-left: 15px;
            margin-left: 15px;
            min-height: 30px;
          }
        }
      }
    }
    &.sticky{
      background-color: $purple;
    }
  }
  &.is-active{
    header{
      height: 100%;
      display: flex;
      align-items: center;
      pointer-events: all;
      .navbar{
        display: flex;
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
      }
    }
    .hamburger{
      .line:nth-child(1){
        -webkit-transform: translateY(12px) rotate(45deg);
        -ms-transform: translateY(12px) rotate(45deg);
        -o-transform: translateY(12px) rotate(45deg);
        transform: translateY(12px) rotate(45deg);
      }
      .line:nth-child(2){
        opacity: 0;
      }
      .line:nth-child(3){
        -webkit-transform: translateY(-6px) rotate(-45deg);
        -ms-transform: translateY(-6px) rotate(-45deg);
        -o-transform: translateY(-6px) rotate(-45deg);
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
}
body{
  &.is-active{
    
    @include responsive-to(all-mobile){
      overflow: hidden;
    }
  }
}