.modal{
    &.modal{
        .modal-dialog{
            max-width: 800px;
            color: #394854;
            @include fuild-property(max-width,800,580, 1920, 1025);
            .modal-content{
                border-radius: 0;
                border: 0;                
                padding: 8% 3%;
                box-shadow: 1px 1px 10px 7px rgb(2 2 2 / 10%);
                @include responsive-to(all-mobile){
                    padding: 20px;
                    border-radius: 0;
                    max-width: 95%;
                    margin: 0 auto;
                }
                .modal-header{
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    h3{
                        color: #394854;
                        @include responsive-to(all-mobile){
                            text-align: center;
                            margin-bottom: 12px;
                        }
                    }
                    padding: 10px 30px;
                    .btn-close{
                        position: absolute;
                        right: -32px;
                        top: -32px;
                        background-color: $orange;
                        width: 64px;
                        height: 64px;
                        border-radius: 50%;
                        opacity: 1;
                        background-image: url('../images/icon-close.svg');
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: 28px;
                        background-image: none;
                            @include fuild-property(width,64,50, 1920, 1025);
                            @include fuild-property(height,64,50, 1920, 1025);
                            @include responsive-to(all-mobile){
                                width: 30px;
                                height: 30px;
                                background-size: 20px;
                                right: 0;
                                top: -15px;
                            }
                            &::after, &::before{
                                position: absolute;
                                
                            }
                            &::before{
                                content: "";
                                background-image: url(../images/icon-close.svg);
                                width: 30px;
                                height: 30px;
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                right: 0;
                                left: 0;
                                margin: 0 auto;
                                background-repeat: no-repeat;
                                background-position: center center;
                                pointer-events: none;
                                @include responsive-to(all-mobile){
                                    width: 20px;
                                    height: 20px;
                                    background-size: 20px;
                                }
                            }
                            &::after{
                                content: "";
                                pointer-events: none;
                                top: 0;
                                left: 0;
                                padding: 2px;
                                z-index: -1;
                                background: white;
                                -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
                                -moz-transition: -moz-transform 0.2s, opacity 0.3s;
                                transition: transform 0.2s, opacity 0.3s;
                                display: block;
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                            }
                            &:hover{
                                &::after{
                                    -webkit-transform: scale(1.3);
                                    -moz-transform: scale(1.3);
                                    -ms-transform: scale(1.3);
                                    transform: scale(1.3);
                                    opacity: 0;
                                }
                            }
                    }
                }
                .modal-body{
                    padding: 20px 23px;
                    text-align: center;
                    max-width: 90%;
                    margin: 0 auto;
                    @include responsive-to(all-mobile){
                        padding-left: 0;
                        padding-right: 0;
                        max-width: 100%;
                    }
                    p{
                        margin: 0;
                    }
                }
            }
        }
    }
}