.news-details-wrap{
    padding-top: 200px;
    padding-bottom: 100px;
    .row{
        padding: 0;
        margin: 0;
    }
    @include responsive-to(all-mobile){
        padding-top: 100px;
        padding-bottom: 20px;
    }
    &::before{
        position: absolute;
        top: 0;
        width: 100%;
        height: 132px;
        background-color: $purple;
        left: 0;
        z-index: 0;
        content: "";
        @include responsive-to(all-mobile){
            height: 80px;
        }
    }
    .title-block{
        padding: 0;
        margin: 0;
        margin-bottom: 50px;
        @include responsive-to(all-mobile){
            margin-bottom: 30px;
        }
    }
    h3{
        margin-bottom: 20px;
    }
    .news-image-preview{
        margin-bottom: 50px;
        text-align: center;
        @include responsive-to(all-mobile){
            margin-bottom: 20px;
        }
        img{
            max-width: 100%;
            height: auto;
        }
    }
    p{
        font-size: 18px;
        line-height: 28px;
        margin:0 0 10px 0;
        @include fuild-property(margin-bottom,10,14, 1920, 1025);
        @include fuild-property(font-size,18,15, 1920, 1025);
        @include fuild-property(line-height,28,24, 1920, 1025);
        @include responsive-to(all-mobile){
            font-size: 15px;
            line-height: 25px;
        }
       
    }
}

.logos-lisitng{
    ul{
        display: flex;
        margin: 0 0 0;
        padding: 0;
        list-style: none;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
        overflow: hidden;
        @include responsive-to(all-mobile){
            margin-left: 0;
            margin-right: 0;
        }
        li{
            width: 25%;
            @include responsive-to(all-mobile){
                width: 50%;
            }
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
            }
            img{
                max-width: 100%;
                height: auto;
                // filter: grayscale(100%);
                transition: all 0.3s;
            }
            &:hover{
                img{
                    filter: grayscale(0%);  
                }
            }
        }
    }
}