.plyr{
    .plyr__control--overlaid{
        width: 130px;
        height: 130px;
        min-width: 130px;
        min-height: 130px;
        z-index: 3;
        background-color: white;
        @include fuild-property(min-width,130,80, 1920, 1200);
        @include fuild-property(min-height,130,80, 1920, 1200);
        @include fuild-property(width,130,80, 1920, 1200);
        @include fuild-property(height,130,80, 1920, 1200);
        @include responsive-to(all-mobile){
            width: 60px;
            height: 60px;
            min-width: 60px;
            min-height: 60px;
          }
        svg{
            fill: $purple;
            width: 30px;
            height: 30px;
            left: 0;
            right: 0;
            margin: 0 auto;
            @include responsive-to(all-mobile){
                width: 20px;
                height: 20px;
            }
        }
        &:hover{
            background-color: $purple;
            svg{
                fill: white;
            }
        }
    }
}