
#preloader{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: #000;
    flex-direction: column;

}
#percent{
    color: white;
 
}
#bar{
    width: 60%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
#barconfrm{
    width: 1%;
    padding: 2px 0px;
    margin: 0 auto;
    background: radial-gradient(ellipse at center, $purple 0%, rgba(255, 127, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#6400FF", endColorstr="#6400FF",GradientType=1 );


}
