.schedule-page{
    nav{
        .nav-tabs{
            display: flex;
            justify-content: flex-start;
            .nav-link{
                font-weight: bold;
                padding: 0;
                background-color: transparent;
                color: #B4B4B4;
                border: 0;
                border-radius: 0;
                font-size: 22px;
                line-height: 24px;
                padding-bottom: 20px;
                margin: 0 20px;
                &:first-child{
                    margin-left: 0;
                }
                @include responsive-to(mobile){
                    font-size: 16px;
                    line-height: 20px;
                    padding-bottom: 14px;
                    margin: 0px 12px;
                }
                &.active{
                    border-bottom: 3px solid $purple;
                    color: black;
                    @include responsive-to(mobile){
                        border-bottom: 2px solid #6400FF;
                    }
                }
            }
        }
    }
    .tab-content{
        color: #394854;
        margin-top: 30px;
    }
}
.tabs-box-listing{
    ul{
            border: 0px none;
            padding: 0;
            margin: 0 -7px;
            display: flex;
            align-items: flex-start;
            width: 100%;
            flex-wrap: wrap;
            justify-content: flex-start;
            @include fuild-property(margin-left,-7,-3, 1920, 1025);
            @include fuild-property(margin-right,-7,-3, 1920, 1025);
            @include responsive-to(mobile){
                margin: 0 -7px;
            }
            li{
                // width: 228px;
                height: 400px;
                display: flex;
                align-items:stretch;
                padding: 7px;
                width: 25%;
                // @include fuild-property(width,228,170, 1920, 1025);
                @include fuild-property(height,400,300, 1920, 1025);
                @include fuild-property(padding,7,3, 1920, 1025);
                @include responsive-to(mobile){
                    width: 100%;
                    height: 300px;
                }
                @include responsive-to(tablet){
                    width: 50%;
                    height: 310px;
                    
                }
            .tabs-box-items{
                background-color: #D7D7D7;
                width: 100%;
                padding: 30px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                overflow: hidden;
                position: relative;
                @include fuild-property(padding,30,15, 1920, 1025);
                .box-image{
                    position: absolute;
                    left: 0;
                    z-index: 0;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    background-size: cover;
                    background-position: center bottom;
                }
                .tab-box-top{
                    position: relative;
                    z-index: 1;
                    .tab-box-date{
                        color: white;
                        display: flex;
                        align-items: flex-start;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 22px;
                        transition: transform 0.35s;
                        word-break: break-all;
                        margin-bottom: 5px;
                        transition: transform 0.35s;
                        @include fuild-property(font-size,18,12, 1920, 1025);
                        @include fuild-property(line-height,22,14, 1920, 1025);
                        @include responsive-to(mobile){
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }
                    .tab-box-name{
                        font-size: 16px;
                        line-height: 18px;
                        font-weight: 700;
                        color: white;
                        transition: transform 0.35s;
                    }
                }
                .tab-box-bottom{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-top: 20px;
                    position: relative;
                    z-index: 1;
                    @include fuild-property(padding-top,20,15, 1920, 1025);
                    .tab-box-date{
                        color: #8E8E8E;
                        transition: transform 0.35s;
                        @include responsive-to(mobile){
                            font-size: 12px;
                            line-height: 14px;
                        }
                    }
                    .tab-box-text{
                        transition: transform 0.35s;
                        color: white;
                    }
                    .tab-box-arrow{
                        font-size: 14px;
                        line-height: 1;
                        transition: transform 0.35s;
                    }
                    .tab-box-arrow{
                        background-color: $purple;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: 1;
                        transition: all 0.3s ease-in-out 0s;
                        @include fuild-property(width,40,28, 1920, 1025);
                        @include fuild-property(height,40,28, 1920, 1025);
                        a{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;
                            &::after{
                                content: "";
                                height: 20px;
                                width: 20px;
                                z-index: 0;
                                top: 0;
                                border-radius: 5px;
                                transition: all 0.3s ease-in-out 0s;
                                background-image: url(../images/btn-arrow.svg);
                                background-position: center center;
                                background-repeat: no-repeat;
                                @include fuild-property(height,20,15, 1920, 1025);
                                @include fuild-property(width,20,15, 1920, 1025);
                            }
                        }
                    }
                }
                &:after{
                    content: "";
                    position: absolute;
                    pointer-events: none;
                    left: 0;
                    right: 0;
                    top: 0;
                    height: 100%;
                    opacity: 0.7;
                    -webkit-transition: 0.5s;
                    transition: 0.5s;
                    width: 100%;
                    background: -webkit-gradient(linear, left top, right top, from(black), to(rgba(0, 0, 0, 0)));
                    background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#00000000",GradientType=1 );
                    z-index: 0;
                }
                &:hover{
                    .tab-box-date, .tab-box-name{
                        transform: translate3d(0,10px,0);
                    }
                    .tab-box-text, .tab-box-arrow{
                        transform: translate3d(0,-10px,0);
                    }
                }
            }
        }
    }
}